        <div class="celebrities">
            <h2>건축가형에 속하는 유명인</h2>
            <section role="region" class="celebrities-wrapper">
                <button type="button" class="angle-left" disabled="disabled"><</button>
                <div class="wrap-celebrity" style="overflow: hidden; direction: ltr;">
                    <div style="width: 5002.25px; display: flex; transition: all 200ms ease-out 0s; transform: translate3d(0px, 0px, 0px); max-height: 367px;">
                        <div>
                            <div class="celebrity" style="width: 442.5px;">
                                <div class="avatar">
                                    <img src="" alt="1">
                                </div>
                                <div class="name">Friedrich Nietzsche</div>
                            </div>
                        </div>
                        <div>
                            <div class="celebrity" style="width: 442.5px;">
                                <div class="avatar">
                                    <img src="" alt="2">
                                </div>
                                <div class="name">Michelle Obama</div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="angle-right">></button>
            </section>
        </div>