{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=width-device, initial-scale=1.0">
        <title>연락처 | Company</title>
        <link rel="stylesheet" href="{% static 'css/frame.css' %}">
        <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    </head>
    <nav>
        <div class="left-logo">
            <a href="{% url "kor:index" %}"><img src="" alt="logo"></a>
        </div>
        <div class="navigation">
            <ul class="navigation-ul">
                <a href="{% url "kor:test" %}" class="link"><li class="navigation-li">성격 유형 검사</li></a>
                <a href="{% url "kor:category" %}" class="link"><li class="navigation-li">성격 유형</li></a>
                <a href="{% url "kor:contact" %}"><li class="navigation-li">연락처</li></a>
            </ul>
        </div>
        <img class="tab-icon" src="" alt="tab"> <!-- 클릭 시 탭 메뉴-->
        <div class="below-tablet">
             <div class="tab">
                 <div class="wrap-tab-test-start-button"><button class="tab-test-start">검사 실시</button></div>
                 <ul class="tab-ul">
                     <a href="{% url "kor:test" %}" class="link"><li class="tab-li">성격 유형 검사</li></a>
                     <a href="{% url "kor:category" %}" class="link"><li class="tab-li">성격 유형</li></a>
                     <a href="{% url "kor:contact" %}" class="link"><li class="tab-li">연락처</li></a>
                 </ul>
             </div><!--tab-->
        </div>
    </nav>
    <div class="wrap-contents"><!--background-image로 처리하기 -->
        <div class="contents">
            <body>
                <div class="content-title">
                    연락처
                </div>
                <div class="content-content-1">
                    궁금하신 사항이나 문의사항이 있으시면 망설임 없이 연락 주시기 바랍니다. 저희는 저희 앞으로 발송되는 모든 문의 사항들을 하나하나 꼼꼼히
                    확인합니다. 당신의 소중한 의견 기다리고 있겠습니다. 현재 영어로 작성된 이메일에 한해서만 답변이 가능합니다. 이 점 많은 양해 부탁드립니다.
                </br></br>
                    <a href="#">support@16personalities.com</a>
                </div>
                <div class="content-content-2">
                    NERIS Analytics Limited</br>
                    Nine Hills Road, Cambridge, CB2 1GE, United Kingdom</br>
                    Registered in England and Wales, #8646330
                </div>
                <div class="content-content-button">
                    <button></button>
                    <button></button>
                    <button></button>
                </div>
            </body>
            <footer>
                ©2011-2021 NERIS Analytics Limited</br>
            </footer>
        </div><!--contents-->
    </div><!--wrap-contents-->
<script src="{% static 'js/frame.js' %}" type="text/javascript"></script>
</html>
