<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:: LUNA X ::</title>
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/lfu2ifd.css">
    <!-- font awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
    <!-- swiper css -->
    <link rel="stylesheet" href="lib/swiper/swiper.css" />

</head>

<body>
    <div id="wrap">
        <header></header>
        <div id="course">
            <div class="gnb-tab">
                <div class="tab-depth-01">
                    <div class="container">
                        <ul>
                            <li data-tab="courseV" class="on">
                                <p>V</p>
                                <span>COURSE</span>
                            </li>
                            <li data-tab="courseA">
                                <p>A</p>
                                <span>COURSE</span>
                            </li>
                            <li data-tab="courseB">
                                <p>B</p>
                                <span>COURSE</span>
                            </li>
                            <li data-tab="courseC">
                                <p>C</p>
                                <span>COURSE</span>
                            </li>
                        </ul>
                    </div>
                    <!-- end container -->
                </div>
                <!-- end tab-depth-01 -->
                <div class="courseV tab-content current">
                    <div class="container">
                        <div class="tab-box">
                            <div class="le-area cm-box">
                                <ul class="tab-depth-02">
                                    <li data-tab="curv-01" class="on">1</li>
                                    <li data-tab="curv-02">2</li>
                                    <li data-tab="curv-03">3</li>
                                    <li data-tab="curv-04">4</li>
                                    <li data-tab="curv-05">5</li>
                                    <li data-tab="curv-06">6</li>
                                </ul>
                                <!-- end tab-depth-02 -->
                                <div class="cur-info curv-01 tab-active">
                                    <div class="cur-num">
                                        <h1>1</h1>
                                        <p>HOLE</p>
                                    </div>
                                    <!-- end cur-num -->
                                    <ul class="cur-list">
                                        <li>
                                            <p>PAR 4</p>
                                        </li>
                                        <li>
                                            <p>HDCP 4</p>
                                        </li>
                                        <li>
                                            <p>388 M</p>
                                        </li>
                                    </ul>
                                    <!-- end cur-list -->
                                    <p class="rection-txt">정면에 보이는 왼쪽 벙커 끝을 바라보고 드라이버 거리는 200m로 놓고 치세요.</p>
                                    <p class="attack-txt">페어웨이 어느 방향으로 드라이브샷을 구사해도 좋으나 페이드샷 또는 좌측으로 공략 하는것이 유리하며 그린은 쉽게 홀 아웃이 가능하도록 쉬운 난이도를 가졌습니다. 초보자는 이번 홀에서 좋은 기록을 낼 수 있습니다.</p>
                                    <div class="video-box">
                                        <video controls autoplay muted loop src="img/course_sample.mp4"></video>
                                    </div>
                                </div>
                                <!-- end cur-info -->
                                <div class="cur-info curv-02">
                                    <div class="cur-num">
                                        <h1>2</h1>
                                        <p>HOLE</p>
                                    </div>
                                    <!-- end cur-num -->
                                    <ul class="cur-list">
                                        <li>
                                            <p>PAR 4</p>
                                        </li>
                                        <li>
                                            <p>HDCP 4</p>
                                        </li>
                                        <li>
                                            <p>388 M</p>
                                        </li>
                                    </ul>
                                    <!-- end cur-list -->
                                    <p class="rection-txt">정면에 보이는 왼쪽 벙커 끝을 바라보고 드라이버 거리는 200m로 놓고 치세요.</p>
                                    <p class="attack-txt">페어웨이 어느 방향으로 드라이브샷을 구사해도 좋으나 페이드샷 또는 좌측으로 공략 하는것이 유리하며 그린은 쉽게 홀 아웃이 가능하도록 쉬운 난이도를 가졌습니다. 초보자는 이번 홀에서 좋은 기록을 낼 수 있습니다.</p>
                                    <div class="video-box">
                                        <video autoplay controls muted loop src="img/course_sample.mp4"></video>
                                    </div>
                                </div>
                                <!-- end cur-info -->
                                <div class="cur-info curv-03">
                                    <div class="cur-num">
                                        <h1>3</h1>
                                        <p>HOLE</p>
                                    </div>
                                    <!-- end cur-num -->
                                    <ul class="cur-list">
                                        <li>
                                            <p>PAR 4</p>
                                        </li>
                                        <li>
                                            <p>HDCP 4</p>
                                        </li>
                                        <li>
                                            <p>388 M</p>
                                        </li>
                                    </ul>
                                    <!-- end cur-list -->
                                    <p class="rection-txt">정면에 보이는 왼쪽 벙커 끝을 바라보고 드라이버 거리는 200m로 놓고 치세요.</p>
                                    <p class="attack-txt">페어웨이 어느 방향으로 드라이브샷을 구사해도 좋으나 페이드샷 또는 좌측으로 공략 하는것이 유리하며 그린은 쉽게 홀 아웃이 가능하도록 쉬운 난이도를 가졌습니다. 초보자는 이번 홀에서 좋은 기록을 낼 수 있습니다.</p>
                                    <div class="video-box">
                                        <video autoplay controls muted loop src="img/course_sample.mp4"></video>
                                    </div>
                                </div>
                                <!-- end cur-info -->
                                <div class="cur-info curv-04">
                                    <div class="cur-num">
                                        <h1>4</h1>
                                        <p>HOLE</p>
                                    </div>
                                    <!-- end cur-num -->
                                    <ul class="cur-list">
                                        <li>
                                            <p>PAR 4</p>
                                        </li>
                                        <li>
                                            <p>HDCP 4</p>
                                        </li>
                                        <li>
                                            <p>388 M</p>
                                        </li>
                                    </ul>
                                    <!-- end cur-list -->
                                    <p class="rection-txt">정면에 보이는 왼쪽 벙커 끝을 바라보고 드라이버 거리는 200m로 놓고 치세요.</p>
                                    <p class="attack-txt">페어웨이 어느 방향으로 드라이브샷을 구사해도 좋으나 페이드샷 또는 좌측으로 공략 하는것이 유리하며 그린은 쉽게 홀 아웃이 가능하도록 쉬운 난이도를 가졌습니다. 초보자는 이번 홀에서 좋은 기록을 낼 수 있습니다.</p>
                                    <div class="video-box">
                                        <video autoplay controls muted loop src="img/course_sample.mp4"></video>
                                    </div>
                                </div>
                                <!-- end cur-info -->
                                <div class="cur-info curv-05">
                                    <div class="cur-num">
                                        <h1>5</h1>
                                        <p>HOLE</p>
                                    </div>
                                    <!-- end cur-num -->
                                    <ul class="cur-list">
                                        <li>
                                            <p>PAR 4</p>
                                        </li>
                                        <li>
                                            <p>HDCP 4</p>
                                        </li>
                                        <li>
                                            <p>388 M</p>
                                        </li>
                                    </ul>
                                    <!-- end cur-list -->
                                    <p class="rection-txt">정면에 보이는 왼쪽 벙커 끝을 바라보고 드라이버 거리는 200m로 놓고 치세요.</p>
                                    <p class="attack-txt">페어웨이 어느 방향으로 드라이브샷을 구사해도 좋으나 페이드샷 또는 좌측으로 공략 하는것이 유리하며 그린은 쉽게 홀 아웃이 가능하도록 쉬운 난이도를 가졌습니다. 초보자는 이번 홀에서 좋은 기록을 낼 수 있습니다.</p>
                                    <div class="video-box">
                                        <video autoplay controls muted loop src="img/course_sample.mp4"></video>
                                    </div>
                                </div>
                                <!-- end cur-info -->
                                <div class="cur-info curv-06">
                                    <div class="cur-num">
                                        <h1>6</h1>
                                        <p>HOLE</p>
                                    </div>
                                    <!-- end cur-num -->
                                    <ul class="cur-list">
                                        <li>
                                            <p>PAR 4</p>
                                        </li>
                                        <li>
                                            <p>HDCP 4</p>
                                        </li>
                                        <li>
                                            <p>388 M</p>
                                        </li>
                                    </ul>
                                    <!-- end cur-list -->
                                    <p class="rection-txt">정면에 보이는 왼쪽 벙커 끝을 바라보고 드라이버 거리는 200m로 놓고 치세요.</p>
                                    <p class="attack-txt">페어웨이 어느 방향으로 드라이브샷을 구사해도 좋으나 페이드샷 또는 좌측으로 공략 하는것이 유리하며 그린은 쉽게 홀 아웃이 가능하도록 쉬운 난이도를 가졌습니다. 초보자는 이번 홀에서 좋은 기록을 낼 수 있습니다.</p>
                                    <div class="video-box">
                                        <video autoplay controls muted loop src="img/course_sample.mp4"></video>
                                    </div>
                                </div>
                                <!-- end cur-info -->
                            </div>
                            <!-- end le-area -->
                            <div class="rg-area cm-box">
                                <img class="curv-01 tab-active" src="img/course_v1_map.png" alt="">
                                <img class="curv-02" src="img/course_v2_map.png" alt="">
                                <img class="curv-03" src="img/course_v3_map.png" alt="">
                                <img class="curv-04" src="img/course_v4_map.png" alt="">
                                <img class="curv-05" src="img/course_v5_map.png" alt="">
                                <img class="curv-06" src="img/course_v6_map.png" alt="">
                            </div>
                            <!-- end rg-area -->
                        </div>
                        <!-- end tab-box -->
                    </div>
                    <!-- end container -->
                </div>
                <!-- end tab-content -->
                <div class="courseA tab-content">
                    <div class="container">
                        <div class="tab-box">
                            <div class="le-area cm-box">
                                <ul class="tab-depth-02">
                                    <li data-tab="cura-01" class="on">1</li>
                                    <li data-tab="cura-02">2</li>
                                    <li data-tab="cura-03">3</li>
                                    <li data-tab="cura-04">4</li>
                                    <li data-tab="cura-05">5</li>
                                    <li data-tab="cura-06">6</li>
                                </ul>
                                <!-- end tab-depth-02 -->
                                <div class="cur-info cura-01 tab-active">
                                    <div class="cur-num">
                                        <h1>1</h1>
                                        <p>HOLE</p>
                                    </div>
                                    <!-- end cur-num -->
                                    <ul class="cur-list">
                                        <li>
                                            <p>PAR 4</p>
                                        </li>
                                        <li>
                                            <p>HDCP 4</p>
                                        </li>
                                        <li>
                                            <p>388 M</p>
                                        </li>
                                    </ul>
                                    <!-- end cur-list -->
                                    <p class="rection-txt">정면에 보이는 왼쪽 벙커 끝을 바라보고 드라이버 거리는 200m로 놓고 치세요.</p>
                                    <p class="attack-txt">페어웨이 어느 방향으로 드라이브샷을 구사해도 좋으나 페이드샷 또는 좌측으로 공략 하는것이 유리하며 그린은 쉽게 홀 아웃이 가능하도록 쉬운 난이도를 가졌습니다. 초보자는 이번 홀에서 좋은 기록을 낼 수 있습니다.</p>
                                    <div class="video-box">
                                        <video autoplay controls muted loop src="img/course_sample.mp4"></video>
                                    </div>
                                </div>
                                <!-- end cur-info -->
                                <div class="cur-info cura-02">
                                    <div class="cur-num">
                                        <h1>2</h1>
                                        <p>HOLE</p>
                                    </div>
                                    <!-- end cur-num -->
                                    <ul class="cur-list">
                                        <li>
                                            <p>PAR 4</p>
                                        </li>
                                        <li>
                                            <p>HDCP 4</p>
                                        </li>
                                        <li>
                                            <p>388 M</p>
                                        </li>
                                    </ul>
                                    <!-- end cur-list -->
                                    <p class="rection-txt">정면에 보이는 왼쪽 벙커 끝을 바라보고 드라이버 거리는 200m로 놓고 치세요.</p>
                                    <p class="attack-txt">페어웨이 어느 방향으로 드라이브샷을 구사해도 좋으나 페이드샷 또는 좌측으로 공략 하는것이 유리하며 그린은 쉽게 홀 아웃이 가능하도록 쉬운 난이도를 가졌습니다. 초보자는 이번 홀에서 좋은 기록을 낼 수 있습니다.</p>
                                    <div class="video-box">
                                        <video autoplay controls muted loop src="img/course_sample.mp4"></video>
                                    </div>
                                </div>
                                <!-- end cur-info -->
                                <div class="cur-info cura-03">
                                    <div class="cur-num">
                                        <h1>3</h1>
                                        <p>HOLE</p>
                                    </div>
                                    <!-- end cur-num -->
                                    <ul class="cur-list">
                                        <li>
                                            <p>PAR 4</p>
                                        </li>
                                        <li>
                                            <p>HDCP 4</p>
                                        </li>
                                        <li>
                                            <p>388 M</p>
                                        </li>
                                    </ul>
                                    <!-- end cur-list -->
                                    <p class="rection-txt">정면에 보이는 왼쪽 벙커 끝을 바라보고 드라이버 거리는 200m로 놓고 치세요.</p>
                                    <p class="attack-txt">페어웨이 어느 방향으로 드라이브샷을 구사해도 좋으나 페이드샷 또는 좌측으로 공략 하는것이 유리하며 그린은 쉽게 홀 아웃이 가능하도록 쉬운 난이도를 가졌습니다. 초보자는 이번 홀에서 좋은 기록을 낼 수 있습니다.</p>
                                    <div class="video-box">
                                        <video autoplay controls muted loop src="img/course_sample.mp4"></video>
                                    </div>
                                </div>
                                <!-- end cur-info -->
                                <div class="cur-info cura-04">
                                    <div class="cur-num">
                                        <h1>4</h1>
                                        <p>HOLE</p>
                                    </div>
                                    <!-- end cur-num -->
                                    <ul class="cur-list">
                                        <li>
                                            <p>PAR 4</p>
                                        </li>
                                        <li>
                                            <p>HDCP 4</p>
                                        </li>
                                        <li>
                                            <p>388 M</p>
                                        </li>
                                    </ul>
                                    <!-- end cur-list -->
                                    <p class="rection-txt">정면에 보이는 왼쪽 벙커 끝을 바라보고 드라이버 거리는 200m로 놓고 치세요.</p>
                                    <p class="attack-txt">페어웨이 어느 방향으로 드라이브샷을 구사해도 좋으나 페이드샷 또는 좌측으로 공략 하는것이 유리하며 그린은 쉽게 홀 아웃이 가능하도록 쉬운 난이도를 가졌습니다. 초보자는 이번 홀에서 좋은 기록을 낼 수 있습니다.</p>
                                    <div class="video-box">
                                        <video autoplay controls muted loop src="img/course_sample.mp4"></video>
                                    </div>
                                </div>
                                <!-- end cur-info -->
                                <div class="cur-info cura-05">
                                    <div class="cur-num">
                                        <h1>5</h1>
                                        <p>HOLE</p>
                                    </div>
                                    <!-- end cur-num -->
                                    <ul class="cur-list">
                                        <li>
                                            <p>PAR 4</p>
                                        </li>
                                        <li>
                                            <p>HDCP 4</p>
                                        </li>
                                        <li>
                                            <p>388 M</p>
                                        </li>
                                    </ul>
                                    <!-- end cur-list -->
                                    <p class="rection-txt">정면에 보이는 왼쪽 벙커 끝을 바라보고 드라이버 거리는 200m로 놓고 치세요.</p>
                                    <p class="attack-txt">페어웨이 어느 방향으로 드라이브샷을 구사해도 좋으나 페이드샷 또는 좌측으로 공략 하는것이 유리하며 그린은 쉽게 홀 아웃이 가능하도록 쉬운 난이도를 가졌습니다. 초보자는 이번 홀에서 좋은 기록을 낼 수 있습니다.</p>
                                    <div class="video-box">
                                        <video autoplay controls muted loop src="img/course_sample.mp4"></video>
                                    </div>
                                </div>
                                <!-- end cur-info -->
                                <div class="cur-info cura-06">
                                    <div class="cur-num">
                                        <h1>6</h1>
                                        <p>HOLE</p>
                                    </div>
                                    <!-- end cur-num -->
                                    <ul class="cur-list">
                                        <li>
                                            <p>PAR 4</p>
                                        </li>
                                        <li>
                                            <p>HDCP 4</p>
                                        </li>
                                        <li>
                                            <p>388 M</p>
                                        </li>
                                    </ul>
                                    <!-- end cur-list -->
                                    <p class="rection-txt">정면에 보이는 왼쪽 벙커 끝을 바라보고 드라이버 거리는 200m로 놓고 치세요.</p>
                                    <p class="attack-txt">페어웨이 어느 방향으로 드라이브샷을 구사해도 좋으나 페이드샷 또는 좌측으로 공략 하는것이 유리하며 그린은 쉽게 홀 아웃이 가능하도록 쉬운 난이도를 가졌습니다. 초보자는 이번 홀에서 좋은 기록을 낼 수 있습니다.</p>
                                    <div class="video-box">
                                        <video autoplay controls muted loop src="img/course_sample.mp4"></video>
                                    </div>
                                </div>
                                <!-- end cur-info -->
                            </div>
                            <!-- end le-area -->
                            <div class="rg-area cm-box">
                                <img class="cura-01 tab-active" src="img/course_v1_map.png" alt="">
                                <img class="cura-02" src="img/course_v2_map.png" alt="">
                                <img class="cura-03" src="img/course_v3_map.png" alt="">
                                <img class="cura-04" src="img/course_v4_map.png" alt="">
                                <img class="cura-05" src="img/course_v5_map.png" alt="">
                                <img class="cura-06" src="img/course_v6_map.png" alt="">
                            </div>
                            <!-- end rg-area -->
                        </div>
                        <!-- end tab-box -->
                    </div>
                    <!-- end container -->
                </div>
                <!-- end tab-content -->
                <div class="courseB tab-content">
                    <div class="container">
                        <div class="tab-box">
                            <div class="le-area cm-box">
                                <ul class="tab-depth-02">
                                    <li data-tab="curb-01" class="on">1</li>
                                    <li data-tab="curb-02">2</li>
                                    <li data-tab="curb-03">3</li>
                                    <li data-tab="curb-04">4</li>
                                    <li data-tab="curb-05">5</li>
                                    <li data-tab="curb-06">6</li>
                                </ul>
                                <!-- end tab-depth-02 -->
                                <div class="cur-info curb-01 tab-active">
                                    <div class="cur-num">
                                        <h1>1</h1>
                                        <p>HOLE</p>
                                    </div>
                                    <!-- end cur-num -->
                                    <ul class="cur-list">
                                        <li>
                                            <p>PAR 4</p>
                                        </li>
                                        <li>
                                            <p>HDCP 4</p>
                                        </li>
                                        <li>
                                            <p>388 M</p>
                                        </li>
                                    </ul>
                                    <!-- end cur-list -->
                                    <p class="rection-txt">정면에 보이는 왼쪽 벙커 끝을 바라보고 드라이버 거리는 200m로 놓고 치세요.</p>
                                    <p class="attack-txt">페어웨이 어느 방향으로 드라이브샷을 구사해도 좋으나 페이드샷 또는 좌측으로 공략 하는것이 유리하며 그린은 쉽게 홀 아웃이 가능하도록 쉬운 난이도를 가졌습니다. 초보자는 이번 홀에서 좋은 기록을 낼 수 있습니다.</p>
                                    <div class="video-box">
                                        <video autoplay controls muted loop src="img/course_sample.mp4"></video>
                                    </div>
                                </div>
                                <!-- end cur-info -->
                                <div class="cur-info curb-02">
                                    <div class="cur-num">
                                        <h1>2</h1>
                                        <p>HOLE</p>
                                    </div>
                                    <!-- end cur-num -->
                                    <ul class="cur-list">
                                        <li>
                                            <p>PAR 4</p>
                                        </li>
                                        <li>
                                            <p>HDCP 4</p>
                                        </li>
                                        <li>
                                            <p>388 M</p>
                                        </li>
                                    </ul>
                                    <!-- end cur-list -->
                                    <p class="rection-txt">정면에 보이는 왼쪽 벙커 끝을 바라보고 드라이버 거리는 200m로 놓고 치세요.</p>
                                    <p class="attack-txt">페어웨이 어느 방향으로 드라이브샷을 구사해도 좋으나 페이드샷 또는 좌측으로 공략 하는것이 유리하며 그린은 쉽게 홀 아웃이 가능하도록 쉬운 난이도를 가졌습니다. 초보자는 이번 홀에서 좋은 기록을 낼 수 있습니다.</p>
                                    <div class="video-box">
                                        <video autoplay controls muted loop src="img/course_sample.mp4"></video>
                                    </div>
                                </div>
                                <!-- end cur-info -->
                                <div class="cur-info curb-03">
                                    <div class="cur-num">
                                        <h1>3</h1>
                                        <p>HOLE</p>
                                    </div>
                                    <!-- end cur-num -->
                                    <ul class="cur-list">
                                        <li>
                                            <p>PAR 4</p>
                                        </li>
                                        <li>
                                            <p>HDCP 4</p>
                                        </li>
                                        <li>
                                            <p>388 M</p>
                                        </li>
                                    </ul>
                                    <!-- end cur-list -->
                                    <p class="rection-txt">정면에 보이는 왼쪽 벙커 끝을 바라보고 드라이버 거리는 200m로 놓고 치세요.</p>
                                    <p class="attack-txt">페어웨이 어느 방향으로 드라이브샷을 구사해도 좋으나 페이드샷 또는 좌측으로 공략 하는것이 유리하며 그린은 쉽게 홀 아웃이 가능하도록 쉬운 난이도를 가졌습니다. 초보자는 이번 홀에서 좋은 기록을 낼 수 있습니다.</p>
                                    <div class="video-box">
                                        <video autoplay controls muted loop src="img/course_sample.mp4"></video>
                                    </div>
                                </div>
                                <!-- end cur-info -->
                                <div class="cur-info curb-04">
                                    <div class="cur-num">
                                        <h1>4</h1>
                                        <p>HOLE</p>
                                    </div>
                                    <!-- end cur-num -->
                                    <ul class="cur-list">
                                        <li>
                                            <p>PAR 4</p>
                                        </li>
                                        <li>
                                            <p>HDCP 4</p>
                                        </li>
                                        <li>
                                            <p>388 M</p>
                                        </li>
                                    </ul>
                                    <!-- end cur-list -->
                                    <p class="rection-txt">정면에 보이는 왼쪽 벙커 끝을 바라보고 드라이버 거리는 200m로 놓고 치세요.</p>
                                    <p class="attack-txt">페어웨이 어느 방향으로 드라이브샷을 구사해도 좋으나 페이드샷 또는 좌측으로 공략 하는것이 유리하며 그린은 쉽게 홀 아웃이 가능하도록 쉬운 난이도를 가졌습니다. 초보자는 이번 홀에서 좋은 기록을 낼 수 있습니다.</p>
                                    <div class="video-box">
                                        <video autoplay controls muted loop src="img/course_sample.mp4"></video>
                                    </div>
                                </div>
                                <!-- end cur-info -->
                                <div class="cur-info curb-05">
                                    <div class="cur-num">
                                        <h1>5</h1>
                                        <p>HOLE</p>
                                    </div>
                                    <!-- end cur-num -->
                                    <ul class="cur-list">
                                        <li>
                                            <p>PAR 4</p>
                                        </li>
                                        <li>
                                            <p>HDCP 4</p>
                                        </li>
                                        <li>
                                            <p>388 M</p>
                                        </li>
                                    </ul>
                                    <!-- end cur-list -->
                                    <p class="rection-txt">정면에 보이는 왼쪽 벙커 끝을 바라보고 드라이버 거리는 200m로 놓고 치세요.</p>
                                    <p class="attack-txt">페어웨이 어느 방향으로 드라이브샷을 구사해도 좋으나 페이드샷 또는 좌측으로 공략 하는것이 유리하며 그린은 쉽게 홀 아웃이 가능하도록 쉬운 난이도를 가졌습니다. 초보자는 이번 홀에서 좋은 기록을 낼 수 있습니다.</p>
                                    <div class="video-box">
                                        <video autoplay controls muted loop src="img/course_sample.mp4"></video>
                                    </div>
                                </div>
                                <!-- end cur-info -->
                                <div class="cur-info curb-06">
                                    <div class="cur-num">
                                        <h1>6</h1>
                                        <p>HOLE</p>
                                    </div>
                                    <!-- end cur-num -->
                                    <ul class="cur-list">
                                        <li>
                                            <p>PAR 4</p>
                                        </li>
                                        <li>
                                            <p>HDCP 4</p>
                                        </li>
                                        <li>
                                            <p>388 M</p>
                                        </li>
                                    </ul>
                                    <!-- end cur-list -->
                                    <p class="rection-txt">정면에 보이는 왼쪽 벙커 끝을 바라보고 드라이버 거리는 200m로 놓고 치세요.</p>
                                    <p class="attack-txt">페어웨이 어느 방향으로 드라이브샷을 구사해도 좋으나 페이드샷 또는 좌측으로 공략 하는것이 유리하며 그린은 쉽게 홀 아웃이 가능하도록 쉬운 난이도를 가졌습니다. 초보자는 이번 홀에서 좋은 기록을 낼 수 있습니다.</p>
                                    <div class="video-box">
                                        <video autoplay controls muted loop src="img/course_sample.mp4"></video>
                                    </div>
                                </div>
                                <!-- end cur-info -->
                            </div>
                            <!-- end le-area -->
                            <div class="rg-area cm-box">
                                <img class="curb-01 tab-active" src="img/course_v1_map.png" alt="">
                                <img class="curb-02" src="img/course_v2_map.png" alt="">
                                <img class="curb-03" src="img/course_v3_map.png" alt="">
                                <img class="curb-04" src="img/course_v4_map.png" alt="">
                                <img class="curb-05" src="img/course_v5_map.png" alt="">
                                <img class="curb-06" src="img/course_v6_map.png" alt="">
                            </div>
                            <!-- end rg-area -->
                        </div>
                        <!-- end tab-box -->
                    </div>
                    <!-- end container -->
                </div>
                <!-- end tab-content -->
                <div class="courseC tab-content">
                    <div class="container">
                        <div class="tab-box">
                            <div class="le-area cm-box">
                                <ul class="tab-depth-02">
                                    <li data-tab="curc-01" class="on">1</li>
                                    <li data-tab="curc-02">2</li>
                                    <li data-tab="curc-03">3</li>
                                    <li data-tab="curc-04">4</li>
                                    <li data-tab="curc-05">5</li>
                                    <li data-tab="curc-06">6</li>
                                </ul>
                                <!-- end tab-depth-02 -->
                                <div class="cur-info curc-01 tab-active">
                                    <div class="cur-num">
                                        <h1>1</h1>
                                        <p>HOLE</p>
                                    </div>
                                    <!-- end cur-num -->
                                    <ul class="cur-list">
                                        <li>
                                            <p>PAR 4</p>
                                        </li>
                                        <li>
                                            <p>HDCP 4</p>
                                        </li>
                                        <li>
                                            <p>388 M</p>
                                        </li>
                                    </ul>
                                    <!-- end cur-list -->
                                    <p class="rection-txt">정면에 보이는 왼쪽 벙커 끝을 바라보고 드라이버 거리는 200m로 놓고 치세요.</p>
                                    <p class="attack-txt">페어웨이 어느 방향으로 드라이브샷을 구사해도 좋으나 페이드샷 또는 좌측으로 공략 하는것이 유리하며 그린은 쉽게 홀 아웃이 가능하도록 쉬운 난이도를 가졌습니다. 초보자는 이번 홀에서 좋은 기록을 낼 수 있습니다.</p>
                                    <div class="video-box">
                                        <video autoplay controls muted loop src="img/course_sample.mp4"></video>
                                    </div>
                                </div>
                                <!-- end cur-info -->
                                <div class="cur-info curc-02">
                                    <div class="cur-num">
                                        <h1>2</h1>
                                        <p>HOLE</p>
                                    </div>
                                    <!-- end cur-num -->
                                    <ul class="cur-list">
                                        <li>
                                            <p>PAR 4</p>
                                        </li>
                                        <li>
                                            <p>HDCP 4</p>
                                        </li>
                                        <li>
                                            <p>388 M</p>
                                        </li>
                                    </ul>
                                    <!-- end cur-list -->
                                    <p class="rection-txt">정면에 보이는 왼쪽 벙커 끝을 바라보고 드라이버 거리는 200m로 놓고 치세요.</p>
                                    <p class="attack-txt">페어웨이 어느 방향으로 드라이브샷을 구사해도 좋으나 페이드샷 또는 좌측으로 공략 하는것이 유리하며 그린은 쉽게 홀 아웃이 가능하도록 쉬운 난이도를 가졌습니다. 초보자는 이번 홀에서 좋은 기록을 낼 수 있습니다.</p>
                                    <div class="video-box">
                                        <video autoplay controls muted loop src="img/course_sample.mp4"></video>
                                    </div>
                                </div>
                                <!-- end cur-info -->
                                <div class="cur-info curc-03">
                                    <div class="cur-num">
                                        <h1>3</h1>
                                        <p>HOLE</p>
                                    </div>
                                    <!-- end cur-num -->
                                    <ul class="cur-list">
                                        <li>
                                            <p>PAR 4</p>
                                        </li>
                                        <li>
                                            <p>HDCP 4</p>
                                        </li>
                                        <li>
                                            <p>388 M</p>
                                        </li>
                                    </ul>
                                    <!-- end cur-list -->
                                    <p class="rection-txt">정면에 보이는 왼쪽 벙커 끝을 바라보고 드라이버 거리는 200m로 놓고 치세요.</p>
                                    <p class="attack-txt">페어웨이 어느 방향으로 드라이브샷을 구사해도 좋으나 페이드샷 또는 좌측으로 공략 하는것이 유리하며 그린은 쉽게 홀 아웃이 가능하도록 쉬운 난이도를 가졌습니다. 초보자는 이번 홀에서 좋은 기록을 낼 수 있습니다.</p>
                                    <div class="video-box">
                                        <video autoplay controls muted loop src="img/course_sample.mp4"></video>
                                    </div>
                                </div>
                                <!-- end cur-info -->
                                <div class="cur-info curc-04">
                                    <div class="cur-num">
                                        <h1>4</h1>
                                        <p>HOLE</p>
                                    </div>
                                    <!-- end cur-num -->
                                    <ul class="cur-list">
                                        <li>
                                            <p>PAR 4</p>
                                        </li>
                                        <li>
                                            <p>HDCP 4</p>
                                        </li>
                                        <li>
                                            <p>388 M</p>
                                        </li>
                                    </ul>
                                    <!-- end cur-list -->
                                    <p class="rection-txt">정면에 보이는 왼쪽 벙커 끝을 바라보고 드라이버 거리는 200m로 놓고 치세요.</p>
                                    <p class="attack-txt">페어웨이 어느 방향으로 드라이브샷을 구사해도 좋으나 페이드샷 또는 좌측으로 공략 하는것이 유리하며 그린은 쉽게 홀 아웃이 가능하도록 쉬운 난이도를 가졌습니다. 초보자는 이번 홀에서 좋은 기록을 낼 수 있습니다.</p>
                                    <div class="video-box">
                                        <video autoplay controls muted loop src="img/course_sample.mp4"></video>
                                    </div>
                                </div>
                                <!-- end cur-info -->
                                <div class="cur-info curc-05">
                                    <div class="cur-num">
                                        <h1>5</h1>
                                        <p>HOLE</p>
                                    </div>
                                    <!-- end cur-num -->
                                    <ul class="cur-list">
                                        <li>
                                            <p>PAR 4</p>
                                        </li>
                                        <li>
                                            <p>HDCP 4</p>
                                        </li>
                                        <li>
                                            <p>388 M</p>
                                        </li>
                                    </ul>
                                    <!-- end cur-list -->
                                    <p class="rection-txt">정면에 보이는 왼쪽 벙커 끝을 바라보고 드라이버 거리는 200m로 놓고 치세요.</p>
                                    <p class="attack-txt">페어웨이 어느 방향으로 드라이브샷을 구사해도 좋으나 페이드샷 또는 좌측으로 공략 하는것이 유리하며 그린은 쉽게 홀 아웃이 가능하도록 쉬운 난이도를 가졌습니다. 초보자는 이번 홀에서 좋은 기록을 낼 수 있습니다.</p>
                                    <div class="video-box">
                                        <video autoplay controls muted loop src="img/course_sample.mp4"></video>
                                    </div>
                                </div>
                                <!-- end cur-info -->
                                <div class="cur-info curc-06">
                                    <div class="cur-num">
                                        <h1>6</h1>
                                        <p>HOLE</p>
                                    </div>
                                    <!-- end cur-num -->
                                    <ul class="cur-list">
                                        <li>
                                            <p>PAR 4</p>
                                        </li>
                                        <li>
                                            <p>HDCP 4</p>
                                        </li>
                                        <li>
                                            <p>388 M</p>
                                        </li>
                                    </ul>
                                    <!-- end cur-list -->
                                    <p class="rection-txt">정면에 보이는 왼쪽 벙커 끝을 바라보고 드라이버 거리는 200m로 놓고 치세요.</p>
                                    <p class="attack-txt">페어웨이 어느 방향으로 드라이브샷을 구사해도 좋으나 페이드샷 또는 좌측으로 공략 하는것이 유리하며 그린은 쉽게 홀 아웃이 가능하도록 쉬운 난이도를 가졌습니다. 초보자는 이번 홀에서 좋은 기록을 낼 수 있습니다.</p>
                                    <div class="video-box">
                                        <video autoplay controls muted loop src="img/course_sample.mp4"></video>
                                    </div>
                                </div>
                                <!-- end cur-info -->
                            </div>
                            <!-- end le-area -->
                            <div class="rg-area cm-box">
                                <img class="curc-01 tab-active" src="img/course_v1_map.png" alt="">
                                <img class="curc-02" src="img/course_v2_map.png" alt="">
                                <img class="curc-03" src="img/course_v3_map.png" alt="">
                                <img class="curc-04" src="img/course_v4_map.png" alt="">
                                <img class="curc-05" src="img/course_v5_map.png" alt="">
                                <img class="curc-06" src="img/course_v6_map.png" alt="">
                            </div>
                            <!-- end rg-area -->
                        </div>
                        <!-- end tab-box -->
                    </div>
                    <!-- end container -->
                </div>
                <!-- end tab-content -->
            </div>
            <!-- end gnb-tab -->
            <div class="course-visual">
                <div class="container">
                    <img src="img/course_map_visual.png" alt="">
                    <div class="course-info">
                        <div class="course-article">
                            <h1>540,000M ²</h1>
                            <p>각 코스 마다의 길이와 고도의 차이가 지형의 장점을 극대화하여 54만 제곱미터의 총 4가지 코스마다 서로가 다른 개성을 갖고 있습니다.</p>
                        </div>
                        <!-- end course-article -->
                        <div class="course-article">
                            <h1>24HOLE</h1>
                            <p>부드러움과 강함이 공존하는 감각적인 홀 배치와 자연을 전략적으로 활용하여 총 4개의 코스와 각각의 코스마다 6홀로 구성되어 있습니다. </p>
                        </div>
                        <!-- end course-article -->
                        <div class="course-article">
                            <h1>9,532YD</h1>
                            <p>부드러운 산봉우리를 따라 이어진 각 코스마다 수종을 달리하여 다양한 자연 경관을 느끼실 수 있고 벙커에 따른 다양한 난이도를 즐기실 수 있습니다. </p>
                        </div>
                        <!-- end course-article -->
                    </div>
                    <!-- course-info -->
                </div>
                <!-- end container -->
            </div>
            <!-- end course-visual -->
            <div class="course-gallery">
                <div class="container">
                    <h1>GALLERY</h1>
                    <div class="swiper-container cur-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="img/space_gallery_01.jpg" alt=""></div>
                            <div class="swiper-slide"><img src="img/space_gallery_02.jpg" alt=""></div>
                            <div class="swiper-slide"><img src="img/space_gallery_03.jpg" alt=""></div>
                            <div class="swiper-slide"><img src="img/space_gallery_04.jpg" alt=""></div>
                            <div class="swiper-slide"><img src="img/space_gallery_05.jpg" alt=""></div>
                        </div>
                        <!-- end swiper-wrapper -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <!-- end swiper-container -->
                </div>
                <!-- end container -->
            </div>
            <!-- end course-gallery -->
        </div>
        <!-- end course -->
        <footer></footer>
    </div>
    <!-- end wrap -->
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        $(function() {

            var swiper = new Swiper(".cur-swiper", {
                loop: true,
                cssMode: true,
                pagination: {
                    el: ".swiper-pagination",
                },
                mousewheel: true,
                keyboard: true,
                breakpoints: {
                    320: {
                        navigation: {
                            nextEl: null,
                            prevEl: null,
                        }
                    },
                    1200: {
                        navigation: {
                            nextEl: ".swiper-button-next",
                            prevEl: ".swiper-button-prev",
                        }
                    }
                }
            });

        });
    </script>
</body>

</html>