{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>COVERSTAR | 신청완료!</title>
        <link rel="stylesheet" href="{% static 'css/done.css' %}">
    </head>
    <body><!--background로 배경주기 -->
        <img src="{% static 'img/img-star2-bg.png'%}" srcset="{% static 'img/img-star2-bg@2x.png' %}, {% static 'img/img-star2-bg@3x.png' %}" class="img_star_BG1">
        <img src="{% static 'img/img-star2-bg.png'%}" srcset="{% static 'img/img-star2-bg@2x.png' %}, {% static 'img/img-star2-bg@3x.png' %}" class="img_star_BG2">
        <div class="Oval-Copy-10"></div>
        <img src="{% static 'img/img-pen.png' %}" srcset="{% static 'img/img-pen@2x.png' %}, {% static 'img/img-pen@3x.png'%}" class="img_pen">


            <div>
                <img src="{% static 'img/img-02.png' %}" srcset="{% static 'img/img-02@2x.png'%}, {% static 'img/img-02@3x.png'%}" class="img_02">
                <div class="white-box">
                    <img src="{% static 'img/logo-c.png' %}" srcset="{% static 'img/logo-c@3x.png' %}, {% static 'img/img-logo@3x.png' %}" class="img_logo">
                    <div class="line1">커버스타 신청이 완료 되었습니다.</div>
                    <div class="line2">감사합니다.</div>
                </div>
            </div>

    </body>
    <footer>

    </footer>
</html>