{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>COVERSTAR | 참가 신청서</title>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body><!--background로 배경주기 -->
    <div style="display: flex; justify-content: center;">
        <div id="modal">
            <div style="display: flex; margin-top: 10px; float:right"><div onclick="CloseModal()">x &nbsp;</div></div>
            <div class="modal_flex">
                <div class="modal_content">
                    커버스타의 커버스타 오디션 홈페이지(http://coverstar.co.kr)는 개인 정보 보호 관련 법령에 따라 이용자의 개인정보 및 권익을 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 개인정보처리방침을 두고 있습니다.<br/><br/>

                    1. 개인정보의 처리 목적<br/>
                    커버스타는 이용자의 동의를 기반으로 수집한 개인정보를 다음의 목적을 위해 활용합니다.만 14세 미만 아동의 개인정보 처리 시 법정대리인의 동의여부 확인, 각종 고지 통지, 고충처리, 분쟁 조정을 위한 기록 보존 등을 목적으로 개인정보를 처리합니다.<br/>
                    -오디션 합격 여부의 결정, 통지, 공개 및 관련 업무 활용<br/>
                    -오디션 지원자 본인 확인 및 중복 지원 여부 확인<br/>
                    -오디션 개최 알림<br/><br/>

                    2. 처리하는 개인정보 항목<br/>
                    커버스타는 다음의 개인정보 항목을 처리하고 있습니다.<br/>
                    -이름, 이메일, 연락처, 거주 지역, 직업, 커버영상<br/><br/>

                    3. 개인정보의 처리 및 보유 기간<br/>
                    당 사이트에서 수집한 이용자의 개인 정보는 커버스타 프로그램 종료 시까지 보유하며, 보유목적이 달성된 후, 지체 없이 파기됩니다. 단, 이용자로부터 동의를 받은 보유 및 이용 기간이 경과 하지 않은 경우, 관계 법령의 규정에 의하여 일정 기간 동안 개인정보를 보존할 필요가 있는 경우 등에는 해당 기간 동안 이용자 정보를 보관합니다.<br/><br/>

                    4. 개인정보의 제3자 제공에 관한 사항<br/>
                    (1)커버스타는 개인정보를 제3자에게 제공하고 있지 않습니다.<br/>
                    (2)커버스타는 정보주체의 동의, 법률의 특별한 규정 등 개인정보보호법 제17조 및 제18조에 해당하는 경우에만 개인정보를 제3자에게 제공할 것이며, 그 경우 지체 없이 본 개인정보 처리방침을 통하여 제공 내역을 공개하도록 하겠습니다.<br/><br/>

                    5. 개인정보처리의 위탁에 관한 사항<br/>
                    (1)커버스타는 개인정보 처리업무를 위탁하고 있지 않습니다.<br/>
                    (2)위탁업무의 내용이나 수탁자가 변경될 경우 지체 없이 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다.<br/><br/>

                    6. 정보주체와 법정대리인의 권리.의무 및 행사방법<br/>
                    (1)이용자 및 법정 대리인은 언제든지 등록되어 있는 자신 혹은 당해 만 14세 미만 아동의 개인정보를 조회하거나 수정할 수 있으며 개인정보 삭제를 요청할 수도 있습니다.<br/>
                    (2)귀하가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 하겠습니다.<br/>
                    (3)이용자 혹은 법정 대리인의 요청에 의해 해지 또는 삭제된 개인정보는 “수집하는 개인정보의 보유 및 이용기간”에 명시된 바에 따라 처리하고 그 이외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.<br/><br/>

                    7. 개인정보 파기 절차 및 방법에 관한 사항<br/>
                    회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 바로 파기합니다. 파기 절차 및 방법은 다음과 같습니다.<br/>
                    - 파기절차<br/>
                    오디션을 위해 입력하신 정보는 DB에 저장되어(종이의 경우 별도의 서류함) 내부 방침 및 기타 관계 법령에 의한 개인정보보호 사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기됩니다. 해당 개인정보는 법률에 의한 경우가 아니고서는 보관 이외의 다른 목적으로 이용되지 않습니다.<br/>
                    - 파기방법<br/>
                    전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다. 종이에 출력된 개인정보는 분쇄기로 분쇄하여 파기합니다.<br/><br/>

                    8. 개인정보의 안정성 확보조치<br/>
                    커버스타는 개인정보보호법 제29조에 따라 안정성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다.<br/>
                    -커버스타는 백신프로그램을 이용하여 컴퓨터 바이러스에 의한 피해를 방지하게 위한 조치를 취하고 있으며, 백신프로그램은 주기적으로 업데이트 됩니다.
                </div>
            </div>
        </div>
    </div>


        <img src="{% static 'img/img-star2-bg.png'%}" srcset="{% static 'img/img-star2-bg@2x.png' %}, {% static 'img/img-star2-bg@3x.png' %}" class="img_star_BG1">
        <img src="{% static 'img/img-star2-bg.png'%}" srcset="{% static 'img/img-star2-bg@2x.png' %}, {% static 'img/img-star2-bg@3x.png' %}" class="img_star_BG2">
        <img src="{% static 'img/img-star2-bg.png'%}" srcset="{% static 'img/img-star2-bg@2x.png' %}, {% static 'img/img-star2-bg@3x.png' %}" class="img_star_BG3">
        <div class="oval1"></div>
        <div class="oval2"></div>
        <div class="oval3"></div>
        <div class="oval4"></div>

        <img src="{% static 'img/img-pen.png' %}" srcset="{% static 'img/img-pen@2x.png' %}, {% static 'img/img-pen@3x.png'%}" class="img_pen">
        <div style="display: flex; justify-content: center">
            <img src="{% static 'img/img-02.png' %}" srcset="{% static 'img/img-02@2x.png'%}, {% static 'img/img-02@3x.png'%}" class="img_02">
        </div>
        <div style="display: flex; justify-content: center">
            <div class="white-box">
                <div class="wrap-form">
                    <form action="{% url 'kor:done' %}" method="post" id="submitted_form">
                        {% csrf_token %}
                        <div class="application-title">커버스타 참가 신청서</div>

                        <div class="application-subject">지원자 정보</div>
                        <div class="application-subtitle1"><span style="color:#ef5184;">*</span>이름</div>
                        <input type="text" name="name1" value="" id="check1" required/>
                        <div style="color: red; font-size: 0.1em;" id="checked1"></div>
                        <div class="application-subtitle"><span style="color:#ef5184;">*</span>이메일</div>
                        <input type="email" name="mail" value="" id="check2" required/>
                        <div style="color: red; font-size: 0.1em;" id="checked2"></div>
                        <div class="application-subtitle"><span style="color:#ef5184;">*</span>연락처(전화번호)</div>
                        <input type="text" name="call" value="" id="check3" required/>
                        <div style="color: red; font-size: 0.1em;" id="checked3"></div>
                        <div class="application-subtitle">사는지역(구까지)</div>
                        <input type="text" name="location" value="">
                        <div class="application-subtitle">가장 자신있는 장르</div>
                        <input type="text" name="genre" placeholder=" 발라드, 락, 힙합, 트롯, 등등">
                        <div class="application-subtitle">연주 가능한 악기</div>
                        <input type="text" name="instrument" placeholder=" 기타, 피아노, 피리, 등등">
                        <div class="application-subtitle">직업</div>
                        <input type="text" name="job" placeholder=" 학생, 회사원, 주부, 예술인 등등">

                        <div class="application-subject">COVER 곡</div>
                        <div class="application-subtitle1">제목</div>
                        <input type="text" name="title" value="">
                        <div class="application-subtitle">가수</div>
                        <input type="text" name="singer" value="">
                        <div class="application-subtitle"><span style="color:#ef5184;">*</span>영상링크(유튜브 URL)</div>
                        <input type="url" id="check4" name="link" placeholder=" https://">
                        <div style="color: red; font-size: 0.1em;" id="checked4"></div>
                        <div class="application-subtitle">한마디</div>
                        <textarea name="words" placeholder=" 간단한 소개 부탁드려요!"></textarea>
                        <div class="application-subject">약관동의</div>
                        <div class="check">
                            <button class="check-checkbox1" type="button" onclick="changeFlag()"></button>
                            <button class="check-checkbox2" type="button" onclick="changeFlag()"></button>
                            <p class="checkbox-right">개인정보 취급방침 동의</p>
                            <a class="pop-paper" href="#" onclick="ShowModal()">보기</a>
                        </div>
                        <button class="submit-end" type="button" onclick="CheckForm()">참가하기</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <footer>

    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/Form.js' %}" type="text/javascript"></script>
</html>