{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>COVERSTAR | 참가신청하기!</title>
        <link rel="stylesheet" href="{% static 'css/start.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:url" content="coverstar.co.kr/"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="COVER STAR"/>
        <meta property="og:description" content="대한민국 최고의 커버스타를 찾아라!"/>
        <meta property="og:image:url" content="{% static 'img/thumbnail.png' %}"/>
    </head>
    <body>
        <div style="width: 100%;">
            <a href="https://m.smartstore.naver.com/shlnleeholdings/products/5746916096?NaPm=ct%3Dkrrapf74%7Cci%3Dc78408d09c6028a57fc39d947de567f44c4579a6%7Ctr%3Dsls%7Csn%3D2815728%7Chk%3D40439769dd4ac9534a856c8cbe692a6f94f5b3e2">
                <div class="top-banner">
                    <img src="{% static 'img/img-bn.png'%}" srcset="{% static 'img/img-bn@2x.png' %}, {% static 'img/img-bn@3x.png' %}" class="inside-banner">
                </div>
            </a>
            <div class="logo"><img class="img_logo" src="{% static 'img/img-logo.png'%}" srcset="{% static 'img/img-logo@2x.png' %}, {% static 'img/img-logo@3x.png' %}" class="inside-banner"></div>
            <div class="title">대한민국 최고의<br/>커버스타를 찾아라!</div>
            <div class="red-tag">
                <div class="red-tag-img">
                    <div class="tag-title">Pre-season Round1</div>
                </div>
            </div>
            <div class="date">8월 1일~8월 30일</div>
            <div style="width: 100%; text-align: center;"><button onclick="location.href='{% url 'kor:index' %}'">참가신청</button></div>
            <div style="width: 100%; display: flex; justify-content: center;">
                <div class="white-box">
                    <div class="line1">
                        <img src="{% static 'img/ico-01.png'%}" srcset="{% static 'img/ico-01@2x.png' %}, {% static 'img/ico-01@3x.png' %}" class="ico_01">
                        <div class="content-title1">소 개</div>
                    </div>
                    <div class="content-desc">
                        <div class="for-br">커버스타는 대한민국 최초의 <span class="m-pink" style="font-family: GmarketSansBold; color: #ef5184; border-bottom: #ef5184 solid 1px" >신개념 온라인 오디션 프로그램</span> &nbsp;입니다. 한 시즌 동안, 각 라운드를 거쳐 선발된 월간 우승자(커버스타)가 매년 <span class="m-pink" style="font-family: GmarketSansBold; color: #ef5184; border-bottom: #ef5184 solid 1px" >12월 파이널 라이브 무대</span>를 통해 최종 우승자를 가립니다.</div>
                        <div class="for-br">최종 우승자와 커버스타의 입상자는 <span class="m-pink" style="font-family: GmarketSansBold; color: #ef5184; border-bottom: #ef5184 solid 1px" >우승상금과 각종 방송 활동 지원</span>등의 특전을 누릴수 있습니다.</div>
                        <div class="for-br"><span class="m-pink" style="font-family: GmarketSansBold; color: #ef5184; border-bottom: #ef5184 solid 1px" >총 상금 10억</span>이 걸린 온라인 오디션 프로그램 커버스타에 지금 도전해 보세요.</div>
                    </div>
                    <div class="line2">
                        <img src="{% static 'img/ico-day.png'%}" srcset="{% static 'img/ico-day@2x.png' %}, {% static 'img/ico-day@3x.png' %}" class="ico-day">
                        <div class="content-title1">일 정</div>
                    </div>
                    <div class="line3">
                        <div class="year">2021</div>
                        <img src="{% static 'img/list-star-bg.png'%}" srcset="{% static 'img/list-star-bg@2x.png' %}, {% static 'img/list-star-bg@3x.png' %}" class="year-star1">
                        <div class="year-desc">[ 08월 ] Pre-season Open</div>
                    </div>
                    <div class="year-description">
                        <div class="description-content">
                            - 매 라운드 우승자 500만원 지급
                        </div>
                    </div>
                    <div class="line4">
                        <img src="{% static 'img/list-star2-bg.png'%}" srcset="{% static 'img/list-star2-bg.png' %}, {% static 'img/list-star2-bg@3x.png' %}" class="year-star2">
                        <div class="year-desc">[ 12월 ] Pre-season Close</div>
                    </div>
                    <div class="year-description">
                        <div class="description-content">
                            - 정식 서비스 오픈
                        </div>
                    </div>
                    <div class="line5">
                        <div class="year">2022</div>
                        <img src="{% static 'img/list-star-bg.png'%}" srcset="{% static 'img/list-star-bg@2x.png' %}, {% static 'img/list-star-bg@3x.png' %}" class="year-star1" style="margin-left: 8px;">
                        <div class="year-desc">[ 01월 ] Season 1 Open</div>
                    </div>
                    <div class="year-description">
                        <div class="description-content">
                            <div class="for-br">- 총 상금 10억원</div>
                            <div class="for-br">- 매 라운드별 우승자 2022년 Final <span class="hide_media">무대 참가 자격</span><div id="show_media">무대 참가 자격</div></div>
                        </div>
                    </div>
                    <div class="line4">
                        <img src="{% static 'img/list-star2-bg.png'%}" srcset="{% static 'img/list-star2-bg.png' %}, {% static 'img/list-star2-bg@3x.png' %}" class="year-star2">
                        <div class="year-desc" style="font-family: GmarketSansBold">[ 12월 ] Final Cover Star</div>
                    </div>
                    <div class="bottom">
                        <img src="{% static 'img/ico-star.png'%}" srcset="{% static 'img/ico-star@2x.png' %}, {% static 'img/ico-star@3x.png' %}" class="left-huwon">
                        <div class="content-title2" style="margin-left: 4px;">후 원</div>
                        <img src="{% static 'img/logo-h.png'%}" srcset="{% static 'img/logo-h@2x.png' %}, {% static 'img/logo-h@3x.png' %}" class="right-huwon">
                        <span class="hide_media"><img src="{% static 'img/logo-h-2.png'%}" srcset="{% static 'img/logo-h-2@2x.png' %}, {% static 'img/logo-h-2@3x.png' %}" class="right-huwon2"></span>
                    </div>
                    <span class="hide_media"><img src="{% static 'img/logo-music.png'%}" srcset="{% static 'img/logo-music.png' %}, {% static 'img/logo-music.png' %}" class="right-huwon4"></span>
                    <div id="show_media"><img src="{% static 'img/logo-h-2.png'%}" srcset="{% static 'img/logo-h-2@2x.png' %}, {% static 'img/logo-h-2@3x.png' %}" class="right-huwon3"></div>
                    <div id="show_media"><img src="{% static 'img/logo-music.png'%}" srcset="{% static 'img/logo-music.png' %}, {% static 'img/logo-music.png' %}" class="right-huwon5"></div>
                </div>
            </div>

        </div>
    </body>
    <footer>

    </footer>
</html>