.wrap-image {
    height: 400px;
    border: solid black 1px;
}

.content-title {
    margin-top: 50px;
    font-size: 3em;
}

.content-content-1 {
    margin-top: 50px;
    font-size: 1.5em;
    line-height: 200%;
}

.content-img {
    border: 1px solid black;
    height: 300px;
}

.wrap-famous {
    border: 1px solid black;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-famous button {
    width: 80px;
    height: 200px;
}


.famous {
    width: 300px;
    height: 450px;
    border: 1px solid black;
}

.content-sns {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.content-sns *{
    margin: 10px;
}

.wrap-contents {
    height: 1600px;
}

footer{
    margin-top: 7%;
    text-align: center;
}

/* 태블릿 pc 미디어쿼리 */
@media (max-width: 1200px) {

}
/* 핸드폰 미디어쿼리 */
@media (max-width: 600px) {

}