.wrap-image {
    height: 400px;
    border: solid black 1px;
}

.content-title {
    margin-top: 80px;
    font-size: 3.3em;
    font-weight: 900;
}

.content-content-1 {
    margin-top: 50px;
    font-size: 1.5em;
    line-height: 200%;
}

.content-img {
    border: 1px solid black;
    height: 300px;
}

.people {
    margin-top: 30%;
    height: 600px;
    border: 1px solid black;
}
.people h2{
    text-align: center;
}

.people section {
    display: flex;
}

.wrap-famous {
    display: flex;
    overflow: hidden;
    direction: ltr;

}

.do-animation {
    display: flex;
    transition: all 200ms ease-out 0s;
    transform: translate3d(0px, 0px, 0px);
    max-height: 367px;
    border: 1px solid black;
}

.famous {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 442.5px;
    height: 392px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.avatar {
    border: 1px solid black;
    width: 270px;
    height: 275px;
}

.content-sns {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.content-sns *{
    margin: 10px;
}

.wrap-contents {
    height: 1600px;
}

footer{
    margin-top: 7%;
    text-align: center;
}

/* 태블릿 pc 미디어쿼리 */
@media (max-width: 1200px) {

}
/* 핸드폰 미디어쿼리 */
@media (max-width: 600px) {

}