.content-title {
    margin-top: 10%;
    font-size: 4em;
}

.content-content-1 {
    margin-top: 2%;
    font-size: 1.3em;
    line-height: 200%;
}

.content-content-2 {
    margin-top: 3%;
}

.content-content-button {
    margin-top: 3%;
}

.content-content-button button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 15px;
}

footer {
    margin-top: 50%;
    text-align: center;
}

/* 태블릿 pc 미디어쿼리 */
@media (max-width: 1200px) {
    .content-title {
        margin-top: 5%;
        font-size: 2.3em;
        font-weight: 900;
    }

    .content-content-1 {
        font-size: 1.3em;
        line-height: 180%;
    }

    .content-content-2 {
        margin-top: 3%;
    }

    .content-content-button {
        text-align: center;
    }

}

/* 태블릿 세로 미디어쿼리  */
@media (max-width: 750px) {
    .content-title {
        margin-top: 9%;
        font-size: 2em;
    }

    .content-content-1 {
        margin-top: 5%;
        font-size: 1em;
    }

    .content-content-button{
        margin-top: 7%;
    }
}

/* 핸드폰 미디어쿼리 */
@media (max-width: 400px) {

    .content-title {
        margin-top: 13%;
        font-size: 1.5em;
    }

    .content-content-1 {
        margin-top: 5%;
        font-size: 1em;
    }

    .content-content-button{
        margin-top: 7%;
    }

}