body {
    width: 100%;
    margin: 0px;
}

nav {
    align-items: center;
    display: flex;
    width: 100%;
    height: 100px;
    background: yellow;
    z-index: 22;
    position: sticky;
    top: 0px;
    margin: 0px;

}

.left-logo {
    margin-left: 5%;
}

.navigation {
    width: 80%;
    display: flex;
    justify-content: center;
}

.navigation-ul {
    display: flex;
    height: 100%;
    list-style-type: none;
}

a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: none;}

.link {
    height: 100%;
}

.navigation-li {
    font-size: 1.2em;
    margin-left: 90px;
}

.navigation-li:hover {
    border-bottom: 2px solid rgba(3, 187, 182, 0.59);
}

.below-tablet {
    display: none;
}

.wrap-contents {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contents {
    width: 1200px;
    height: 800px;
}

.tab-icon {
    display: none;
}

/* 태블릿 가로 미디어쿼리 */
@media only screen and (max-width: 1200px) {

    nav {
        height: 75px;
    }

    .navigation {
        display: none;
    }

    .tab-icon {
        display: block;
        margin-left: 80%;
    }

    .below-tablet {
        display: none;
        z-index: 3;
        width: 350px;
        height: 1200px;
        border: 1px solid black;
        background: white;
        position: absolute;
        top: 0; right: 0;
    }

    .below-tablet * {
        z-index: 3;
        justify-content: center;
    }

    .wrap-tab-test-start-button {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgba(125, 121, 121, 0.75);
    }

    .tab-test-start {
        width: 300px;
        height: 60px;
        border-radius: 50px;
        background: #72db72;
        font-size: 1.2em;
    }

    .tab-test-start:hover{
        background: #339233;
    }

    .tab-ul{
        list-style-type: none;
        padding-inline-start: 10px;
        border-bottom: 1px solid rgba(125, 121, 121, 0.75);
        height: 200px;
    }

    .tab-li{
        font-size: 1.1em;
        height: 54px;
        padding: 3px;
        line-height: 54px;
    }

    .tab-li:hover{
        background: rgba(207, 252, 207, 0.76);
    }

    .contents{
        width: 95%;
    }

}
/* 태블릿 세로 미디어쿼리 */
@media (max-width: 750px) {
    nav {
        height: 62px;
    }

    .contents{
        width: 90%;
    }

}

/* 핸드폰 미디어쿼리 */
@media (max-width: 400px) {
    .contents {
        width: 90%;
    }

    .below-tablet {
        width: 280px;
    }

}
