.content-title {
    text-align: center;
    font-size: 4.3em;
    margin-top: 9%;
}

.content-divs {
    margin-top: 8%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-divs div {
    border: 1px solid black;
    width: 300px;
    height: 180px;
    border-radius: 10px;
    margin: 10px;
}

.content-bar {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    height: 20px;
    align-items: center;
}

.graph-bar {
    border: 1px solid black;
    height: 5px;
    width: 900px;
    margin-left: 10px;
}

.percent-graph {
    width: 0%;
    height: 5px;
    background: yellow;
}

.content-test {
    margin-top: 5%;
    width: 100%;
    height: 180px;
    text-align: center;
    border-bottom: 1.3px solid rgba(83, 75, 75, 0.47);
}

.test-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.test-buttons p{
    margin: 20px;
}

.test-buttons button {
    width: 50px;
    height: 50px;
    margin: 20px;
}

.mobile-agree-div {
    display: none;
}

.content-next {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    height: 250px;
    border-bottom: 1.3px solid rgba(83, 75, 75, 0.47);
}

.content-next button {
    width: 450px;
    height: 100px;
    border-radius: 50px;
    background: #72db72;
}

.content-next button:hover {
    background: #339233;
}

.content-sns {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.content-sns *{
    margin: 10px;
}

footer{
    margin-top: 10%;
    text-align: center;
    height: 300px;
}

.sticky-bar{
    display: none;
    border: 1px solid black;
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 22;
    background: #576071;
}

.sticky-graph-bar {
    border: 1px solid black;
    height: 5px;
    width: 90%;
    margin-left: 10px;
    background: white;
}

.sticky-percent-graph {
    background: yellow;
    width: 0%;
    height: 5px;
}



/* 태블릿 pc 미디어쿼리 */
@media (max-width: 1200px) {
    .content-title {
        margin-top: 6%;
        font-size: 2.7em;
    }

    .content-bar{
        display: none;
    }

    .content-next {
        height: 178px;
    }

    .content-next button{
        width: 300px;
        height: 72px;
    }

    .sticky-bar {
        display: flex;
    }

    footer {
        margin-top: 30%;
    }

}

/* 태블릿 가로 미디어쿼리 */
@media (max-width: 875px) {

    .contents {
        width: 95%;
    }

    .content-divs {
        flex-direction: column;
    }

    .content-divs div{
        width: 90%;
        height: 70px;
        margin-left: 5%;
    }

    .content-test {
        display: flex;
        flex-direction: column;
        height: 210px;
    }

    .agree {
        display: none;
    }

    .disagree {
        display: none;
    }

    .wrap-test-buttons button {
        width: 50px;
        height: 50px;
        margin: 15px;
    }

    .mobile-agree-div {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .mobile-agree-div {

    }

}


/* 테블릿 세로 2 */
@media (max-width: 750px) {

    .wrap-test-buttons button {
        width: 35px;
        height: 35px;
        margin: 10px;
    }

}

/* 핸드폰 */
@media (max-width: 530px) {

    .wrap-test-buttons button {
        width: 30px;
        height: 30px;
        margin: 7px;
    }

}

@media (max-width: 440px) {

    .wrap-test-buttons button {
        width: 30px;
        height: 30px;
        margin: 3px;
    }

}

@media (max-width: 300px) {
    .wrap-test-buttons button {
        width: 20px;
        height: 20px;
        margin: 3px;
    }
}