/* common.css */

.container {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
}

.link-btn {
    display: inline-block;
    vertical-align: middle;
    font-family: 'nimbus-sans-extended', sans-serif;
    color: #fff;
    font-size: 16px;
}

.link-btn.bk {
    background: #de6f00;
    padding: 11px 30px;
}

.link-btn i {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    font-size: 16px;
    color: #de6f00;
}

.link-btn.bk i {
    color: #14202c;
}


/* common input[type="checkbox"] */

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-right: 10px;
}

input[type="checkbox"]:checked+label::before {
    border: 1px solid #f07800;
    background-image: url("../img/checked.png");
    background-size: 100% 100%;
}

input[type="checkbox"]+label {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    color: #de6f00;
}


/* common input[type="checkbox"] */

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #0a141e;
    width: 50%;
    font-weight: 500;
}

input[type="radio"]+label::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: 1px solid rgba(20, 32, 44, .3);
    background: #fff;
    margin-right: 7px;
    box-sizing: border-box;
}

input[type="radio"]:checked+label::before {
    border: 4px solid #de6f00;
}


/* popup */

.popBg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .85);
    z-index: 22;
}

.popup {
    width: 413px;
    background: #14202c;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    position: absolute;
    top: 282px;
    left: 50%;
    transform: translateX(-50%);
}

.popup .popHead button {
    position: absolute;
}

.popup .popContent h1 {
    font-size: 20px;
    margin: 15px 0 5px 0;
}

.warning .popup .popContent h1 {
    color: #f1c40f;
}

.success .popup .popContent h1 {
    color: #2ecc71;
}

.popup .popContent p {
    font-size: 16px;
    line-height: 1.75;
    color: #fff;
    margin-bottom: 30px;
}

.popup .popContent .count-period {
    background: rgba(255, 255, 255, .1);
    border-radius: 4px;
    padding: 16px 0;
    margin-bottom: 15px;
}

.popup .popContent .count-period p {
    color: #f07800;
    margin-bottom: 0;
}

.popup .popFoot input {
    width: 100%;
    background: #25415c;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #25415c;
    padding: 12px 0;
    font-size: 16px;
}


/* popup : ph-book */

.ph-book .popup {
    padding: 0;
    width: 452px;
}

.ph-book .popup .popHead {
    width: 100%;
    height: 49px;
    position: relative;
}

.ph-book .popup .popHead .hide-btn {
    display: inline-block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.ph-book .popup .popContent {
    padding: 20px 30px 30px 30px;
}

.ph-book .popup .popContent table th,
.ph-book .popup .popContent table td {
    font-size: 15px;
    text-align: left;
}

.ph-book .popup .popContent table th:last-child,
.ph-book .popup .popContent table td:last-child {
    text-align: right;
}

.ph-book .popup .popContent table th {
    color: rgba(255, 255, 255, .5);
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.ph-book .popup .popContent table td {
    color: #fff;
    padding: 12px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.ph-book .popup .popContent table tbody tr:last-child td {
    border-bottom: none;
}

.ph-book .popup .popContent table .add-btn {
    width: 34px;
    height: 34px;
    background: #1c2b39;
    border-radius: 5px;
}

.ph-book .popup .popContent table .add-btn i {
    color: #fff;
    font-size: 14px;
}


/* mypage : cancelPop */

.cancelPop .popContent h1 {
    color: #F1C40F;
}


/* mypage : blockPop */

.blockPop .popContent h1 {
    color: #E74C3C;
}


/* mypage : requestPop */

.requestPop .popContent h1 {
    color: #2ecc71;
}


/* mypage : changePop */

.changePop .popup {
    padding: 0;
}

.changePop .popHead {
    height: 45px;
    position: relative;
}

.changePop .popHead .hide-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 18px;
}

.changePop .popContent {
    padding: 14px 30px;
}

.changePop .popContent .inp-box {
    margin-bottom: 23px;
}

.changePop .popContent .inp-box .thead {
    font-size: 16px;
    color: rgba(255, 255, 255, .8);
    padding-bottom: 15px;
    margin-bottom: 0;
    text-align: left;
}

.changePop .popContent .inp-box input[type="text"] {
    width: 100%;
    font-size: 16px;
    color: rgba(255, 255, 255, .3);
    padding: 12px 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.changePop .popFoot {
    padding: 0 30px 30px 30px;
}

.changePop .popFoot input[type="button"] {
    background: #f07800;
    border: 1px solid #f07800;
}


/* tos */

#tos {
    background: #fff;
    padding: 55px 0 200px 0;
}

#tos h1 {
    font-size: 32px;
    font-weight: 700;
    color: #0a141e;
    padding-bottom: 20px;
    border-bottom: 2px solid #000;
}

#tos .tos-content {
    padding-top: 40px;
}

#tos .tos-content section {
    margin-bottom: 50px;
}

#tos .tos-content h3 {
    font-size: 16px;
    font-weight: 700;
    color: #0a141e;
    padding-bottom: 40px;
}

#tos .tos-content p {
    font-size: 16px;
    color: #0a141e;
    line-height: 1.75;
}


/* aside */

aside {
    display: inline-block;
    vertical-align: top;
    width: 394px;
    padding: 0 90px 0 60px;
}

aside h1 {
    font-family: "nimbus-sans-extended', sans-serif";
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, .1)
}

aside .menu-bar li a {
    display: block;
    font-size: 18px;
    padding: 20px 0;
    color: #fff;
}

aside .menu-bar li {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

aside .menu-bar li.on a {
    color: #de6f00;
}

aside .menu-bar li.on i {
    font-size: 16px;
    color: #de6f00;
    margin-left: 10px;
}

.content {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 394px);
    padding: 0 60px 0 20px;
}