/* media.css */

@media only screen and (max-width: 360px) {
    html {
        font-size: 62.5%;
    }
}

@media only screen and (max-width: 375px) {
    html {
        font-size: 62.5%;
    }
}

@media only screen and (max-width: 412px) {
    html {
        font-size: 62.5%;
    }
}

@media only screen and (max-width: 640px) {
    html {
        font-size: 62.5%;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 62.5%;
    }
}

@media only screen and (max-width: 1600px) {
    html {
        font-size: 62.5%;
    }
    #reservation .hole-list .hole-type .li-box {
        width: 49%;
    }
}

@media only screen and (max-width: 1199px) {
    html {
        font-size: 62.5%;
    }
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
    /* common.css */
    /* aside */
    aside {
        width: 100%;
        padding: 0;
    }
    aside h1 {
        display: none;
    }
    aside .menu-bar {
        font-size: 0;
        overflow-x: auto;
        white-space: nowrap;
    }
    aside .menu-bar li {
        display: inline-block;
        margin-right: 40px;
    }
    aside .menu-bar li a {
        font-size: 14px;
        padding: 14px 0;
    }
    aside .menu-bar li {
        border-bottom: none;
    }
    aside .menu-bar li.on i {
        display: none;
    }
    .content {
        width: 100%;
        padding: 0;
    }
    /* header */
    header {
        height: 47px;
        border-bottom: 1px solid rgba(255, 255, 255, .15);
    }
    header.bg {
        background: transparent;
    }
    header .m-menu {
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
    }
    header .gnb-menu {
        display: none;
    }
    header .hp-href {
        display: none;
    }
    header .inner-wrap .logo {
        left: 15px;
        width: 80px;
    }
    header .open-menu {
        background: #0a141e;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        z-index: 24;
        overflow-y: auto;
    }
    header .open-menu .head {
        height: 161px;
        background-image: url("../img/mobile_menu_bg.png");
        padding: 50px 15px 0 15px;
    }
    header .open-menu .head .top {
        font-size: 0;
        margin-bottom: 30px;
    }
    header .open-menu .head .logo {
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 60px);
    }
    header .open-menu .head .logo img {
        max-width: 80px;
    }
    header .open-menu .head .close-btn {
        display: inline-block;
        vertical-align: middle;
        text-align: right;
        font-size: 14px;
        color: #fff;
        width: 60px;
    }
    header .open-menu .head .user-btn {
        text-align: right;
    }
    header .open-menu .head .user-btn a {
        display: inline-block;
        font-size: 14px;
        color: #fff;
        margin-left: 20px;
        padding: 3px 0;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
    header .open-menu .user-tab {
        display: flex;
    }
    header .open-menu .user-tab input {
        flex: 1;
        font-size: 14px;
        text-align: center;
        color: #fff;
        padding: 15px 0;
        border: none;
    }
    header .open-menu .user-tab input:first-child {
        background: #de6f00;
    }
    header .open-menu .user-tab input:last-child {
        background: #14202c;
    }
    header .open-menu .menu-list {
        padding: 30px 0;
    }
    header .open-menu .menu-list a {
        display: block;
        margin-bottom: 24px;
    }
    header .open-menu .menu-list a:last-child {
        margin-bottom: 0;
    }
    header .open-menu .menu-list p {
        font-family: 'nimbus-sans-extended', sans-serif;
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 5px;
        color: #fff;
    }
    header .open-menu .menu-list span {
        font-size: 12px;
        color: rgba(255, 255, 255, .3);
    }
    header .open-menu .inner-line {
        padding: 0 15px;
    }
    header .open-menu .m-gnb {
        border-bottom: 1px solid rgba(255, 255, 255, .1);
    }
    header .open-menu .guide-area {
        margin-bottom: 60px;
    }
    /* footer */
    footer {
        height: 100%;
    }
    footer .booking-btn {
        z-index: 10;
        position: fixed;
        bottom: 47px;
        right: 24px;
        display: inline-block;
        width: 56px;
        height: 56px;
        background: #de6f00;
        border-radius: 50%;
        text-align: center;
        box-shadow: 0 0 10px 4px rgba(0, 0, 0, .3);
    }
    footer .booking-btn i {
        color: #fff;
        font-size: 17px;
        padding: 10px 0 3px 0;
    }
    footer .booking-btn p {
        font-size: 9px;
        color: #fff;
    }
    footer.hide .booking-btn {
        display: none;
    }
    footer.scrollBtn .booking-btn {
        display: none;
    }
    footer.scrollBtn.on .booking-btn {
        display: block;
    }
    footer .foot-info {
        padding: 40px 15px;
    }
    footer .f-logo {
        width: 100%;
        margin: 0;
        margin-bottom: 5px;
    }
    footer .f-logo img {
        display: none;
    }
    footer .f-logo .m-foot-logo {
        display: block;
    }
    footer .f-content {
        width: 100%;
        padding: 0;
    }
    footer .f-content .foot-menu {
        border-top: 1px solid #707070;
        border-bottom: 1px solid #707070;
        padding: 14px 0;
        margin: 10px 0;
    }
    footer .f-content .foot-menu a {
        font-size: 12px;
        margin-right: 12px;
    }
    footer .f-content .site-related p {
        font-size: 12px;
    }
    footer .f-content .site-related ul li {
        font-size: 12px;
    }
    /* index : main-visual */
    .main-visual {
        position: static;
        height: 100%;
        background-image: none;
        background: #0a141e;
    }
    .main-visual .visual-txt {
        width: 100%;
        padding-top: 45px;
    }
    .main-visual .reservation-zone {
        width: 100%;
    }
    .main-visual .visual-txt h1 {
        font-size: 30px;
        margin-bottom: 40px;
    }
    .main-visual .visual-txt p {
        font-size: 14px;
    }
    .main-visual .reservation-zone {
        padding: 50px 0;
    }
    /* index : content01 */
    .content-01 {
        padding: 60px 0;
    }
    .content-01 .sec-tit {
        width: 100%;
    }
    .content-01 .cm-effect {
        padding: 0 0 60px 0;
    }
    .content-01 .sec-tit h1 {
        font-size: 20px;
        padding-bottom: 25px;
    }
    .content-01 .ab-chart {
        width: 100%;
        padding-bottom: 0;
    }
    .content-01 .ab-chart ul li {
        width: 100%;
    }
    .content-01 .ab-chart ul li:first-child {
        font-size: 28px;
    }
    .content-01 .ab-chart ul li:first-child span {
        margin-right: 10px;
    }
    .content-01 .ab-chart ul li:last-child {
        padding-left: 32px;
        font-size: 16px;
    }
    /* index : content02 */
    .content-02 {
        height: 649px;
    }
    .content-02 .guide-box {
        width: 100%;
        padding-top: 40px;
    }
    .content-02 .tit-area h1 {
        font-size: 32px;
    }
    .content-02 .tit-area p {
        font-size: 16px;
    }
    /* main : section 03 & section 05 */
    .common-layout {
        padding: 40px 0 70px 0;
    }
    .common-layout h1 {
        width: 100%;
        font-size: 32px;
        padding-right: 0;
    }
    .common-layout .sub-txt {
        width: 100%;
        padding: 30px 0;
    }
    .common-layout .sub-txt p {
        font-size: 16px;
    }
    .common-layout .sub-txt p br {
        display: none;
    }
    /* index : content-04 */
    .content-04 .card-split {
        width: 100%;
    }
    .content-04 .card-split .full-card {
        height: 249px;
    }
    .content-04 .card-split .split-box {
        width: 100%;
        height: 249px;
    }
    .content-04 .card-split .card-nm {
        left: 15px;
        bottom: 26px;
    }
    .content-04 .card-split .card-nm h1 {
        font-size: 22px;
    }
    /* index : content-06 */
    .content-06 {
        height: 280px;
    }
    .content-06 .useing-txt {
        position: static;
        padding-top: 30px;
    }
    .content-06 .useing-txt h1 {
        font-size: 32px;
    }
    .content-06 .useing-txt p {
        font-size: 16px;
    }
    /* index : content-07 */
    .content-07 {
        padding: 95px 0 0 0;
    }
    .content-07 .container {
        padding: 0;
    }
    .content-07 h1 {
        font-size: 22px;
        margin-bottom: 16px;
    }
    .content-07 .inner-content {
        display: block;
    }
    .content-07 .article {
        margin: 0 0 10px 0;
        height: 240px;
    }
    .content-07 .article:last-child {
        margin-bottom: 0;
    }
    .content-07 .article .cate {
        top: 20px;
        left: 15px;
        font-size: 16px;
    }
    .content-07 .article .thum-txt {
        left: 15px;
        bottom: 26px;
    }
    .content-07 .article .thum-txt h2 {
        font-size: 20px;
        padding-bottom: 5px;
    }
    /* index : content-08 */
    .content-08 {
        padding-bottom: 45px;
        background: #0a141e;
    }
    .content-08 img {
        height: 238px;
    }
    /* space */
    #space .spc-course {
        height: 420px;
    }
    #space .spc-tit {
        padding-top: 40px;
        position: static;
        top: auto;
    }
    #space .spc-tit h1 {
        font-size: 32px;
        margin-bottom: 23px;
    }
    #space .spc-tit h1 span {
        font-size: 32px;
    }
    #space .spc-tit p {
        font-size: 16px;
    }
    #space .spc-tit p br {
        display: none;
    }
    #space .spc-tit .link-btn.bk {
        margin-top: 50px;
    }
    #space .spc-driving {
        height: 420px;
    }
    /* space : facitiy-tour */
    #space .facitiy-tour {
        height: auto;
    }
    #space .facitiy-tour .container {
        padding: 0;
    }
    #space .facitiy-tour .pos-ab {
        display: block;
        position: static;
        top: auto;
    }
    #space .facitiy-tour .pos-ab .article {
        margin-right: 0;
        height: 249px;
    }
    #space .facitiy-tour .pos-ab .article img {
        width: 100%;
        height: 100%;
    }
    #space .facitiy-tour .pos-ab .article .arti-txt {
        left: 15px;
    }
    #space .facitiy-tour .pos-ab .article .arti-txt h2 {
        font-size: 20px;
    }
    /* space : gallery */
    #space .gallery .container {
        padding: 0;
    }
    #space .gallery {
        padding: 73px 0;
    }
    #space .gallery .swiper-container {
        padding-bottom: 30px;
    }
    #space .gallery h1,
    #space .location h1 {
        font-size: 22px;
        padding: 0 15px;
        margin-bottom: 10px;
    }
    #space .gallery .my-swiper img {
        height: 241px;
    }
    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }
    /* space : location */
    #space .location {
        padding-bottom: 100px;
    }
    #space .location .container {
        padding: 0;
    }
    #space .location .map-area {
        display: block;
    }
    #space .location .loca-img {
        flex: 1;
        height: 399px;
        margin-bottom: 0;
    }
    #space .location .loca-img img {
        width: 100%;
        height: 100%;
        display: block;
    }
    #space .location .loca-img .map-link {
        bottom: 30px;
        right: 15px;
        max-width: 103px;
    }
    #space .location-info {
        padding: 30px 15px;
    }
    #space .location-info .place-map {
        margin-bottom: 15px;
    }
    #space .location-info h2 {
        font-size: 20px;
    }
    #space .location-info p {
        font-size: 16px;
    }
    /* space_club_house */
    #space .sub-visual {
        height: 480px;
        background-size: cover;
    }
    #space .sub-visual .container {
        height: calc(100% - 47px);
    }
    #space .sub-visual .visual-txt {
        top: auto;
        bottom: 46px;
        left: 0;
        padding: 0 15px;
    }
    #space .sub-visual .visual-txt h1 {
        font-size: 30px;
        margin-bottom: 16px;
    }
    #space .sub-visual .visual-txt p {
        font-size: 16px;
    }
    #space .sub-visual .visual-txt p br {
        display: none;
    }
    /* space : sub_common */
    #space .descript {
        font-size: 0;
        margin-bottom: 65px;
    }
    #space .descript .tit {
        width: 100%;
        padding: 0 0 30px 0;
    }
    #space .descript .tit h1 {
        font-size: 32px;
    }
    #space .descript .tit p {
        color: #fff;
    }
    #space .descript .sub-txt {
        width: 100%;
    }
    #space .descript .sub-txt p {
        font-size: 16px;
    }
    #space .common-split {
        display: block;
    }
    #space .common-split .article {
        margin: 0 0 40px 0;
    }
    #space .common-split .article:last-child {
        margin-bottom: 0;
    }
    #space .common-split .article img {
        margin-bottom: 26px;
        width: 100%;
        height: 223px;
    }
    #space .common-split .article h2 {
        font-size: 24px;
        margin-bottom: 18px;
    }
    #space .common-split .article table col {
        width: 100%;
    }
    #space .common-split .article table th,
    #space .common-split .article table td {
        display: block;
        font-size: 16px;
        padding: 0;
    }
    #space .common-split .article table th {
        padding-bottom: 6px;
    }
    #space .common-split .article table td {
        padding-bottom: 20px;
    }
    #space .common-split .article table td p {
        font-size: 16px;
    }
    /* space : ab-concept */
    #space .ab-concept {
        padding: 45px 0;
    }
    #space .ab-concept .concept-area {
        display: block;
    }
    #space .ab-concept .concept-area .con {
        padding: 0 0 70px 0;
    }
    #space .ab-concept .concept-area .con img {
        height: 223px;
        margin-bottom: 20px;
    }
    #space .ab-concept .concept-area .con h2 {
        font-size: 21px;
        margin-bottom: 14px;
    }
    #space .ab-concept .concept-area .con p {
        font-size: 16px;
        padding-right: 0;
    }
    /* space : showerRoom */
    #space .showerRoom {
        height: 700px;
        background-size: cover;
        background-position: 80% 50%;
    }
    #space .showerRoom .info-area {
        position: static;
        top: auto;
        left: auto;
        width: 100%;
        padding-top: 37px;
    }
    #space .showerRoom .info-area h1 {
        font-size: 32px;
        margin-bottom: 11px;
    }
    #space .showerRoom .info-area .sub-tit {
        font-size: 16px;
    }
    #space .showerRoom .info-area ul li {
        border-bottom: 1px solid rgba(255, 255, 255, .5);
    }
    #space .showerRoom .info-area ul li:first-child {
        border-top: 1px solid rgba(255, 255, 255, .5);
    }
    #space .showerRoom .info-area ul li span {
        font-size: 16px;
    }
    #space .showerRoom .info-area ul li p {
        font-size: 20px;
    }
    #space .showerRoom .info-area ul li .link-btn {
        font-size: 18px;
    }
    #space .showerRoom .info-area ul li .link-btn i {
        font-size: 18px;
        vertical-align: baseline;
    }
    /* space : space-noti */
    #space .space-noti {
        padding: 30px 0;
    }
    #space .space-noti .noti-area .article {
        margin-bottom: 50px;
    }
    #space .space-noti .noti-area .article:last-child {
        margin-bottom: 0;
    }
    /* space : placEat */
    #space .placEat {
        padding: 30px 0 70px 0;
    }
    #space .placEat .place-area .article {
        margin-bottom: 70px;
    }
    #space .placEat .place-area .article:last-child {
        margin-bottom: 0;
    }
    #space .placEat .place-area .article .half-img {
        height: 223px;
    }
    #space .placEat .place-area .article table {
        margin-bottom: 10px;
    }
    #space .common-split .article .menu-view {
        font-size: 18px;
        padding-left: 0;
    }
    #space .common-split .article .menu-view i {
        vertical-align: baseline;
        margin-left: 8px;
        font-size: 18px;
    }
    #space .foot-visual {
        height: 433px;
    }
    /* space_playX */
    #space .play-concept {
        padding: 45px 0 0 0;
    }
    #space .play-concept .con p {
        margin-bottom: 35px;
    }
    #space .play-concept table col {
        width: 100%;
    }
    #space .play-concept table th,
    #space .play-concept table td {
        display: block;
        padding: 0;
    }
    #space .play-concept table th {
        padding-bottom: 5px;
    }
    #space .play-concept table td {
        padding-bottom: 22px;
    }
    #space .play-concept table tr:last-child td {
        padding-bottom: 0;
    }
    /* space : practice */
    #space .practice {
        background: #0a141e;
        width: 100%;
        height: auto;
    }
    #space .practice .info-area {
        padding: 40px 0;
    }
    #space .practice .info-area .inner-wrap {
        width: 100%;
    }
    #space .practice .info-area h1 {
        font-size: 32px;
        margin-bottom: 20px;
    }
    #space .practice .info-area ul li {
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        padding: 14px 0;
    }
    #space .practice .info-area ul li:first-child {
        border-top: 1px solid rgba(255, 255, 255, .5);
    }
    #space .practice .info-area ul li h2 {
        font-size: 18px;
    }
    #space .practice .practice-thum {
        display: block;
    }
    #space .practice .practice-thum .thum-box {
        margin: 0 0 60px 0;
    }
    #space .practice .practice-thum .thum-box img {
        height: 223px;
        margin-bottom: 29px;
    }
    #space .practice .practice-thum .thum-box h2 {
        font-size: 21px;
        margin-bottom: 10px;
    }
    #space .practice .practice-thum .thum-box p {
        font-size: 16px;
    }
    /* space : play-facility */
    #space .play-facility {
        padding: 30px 0 0 0;
    }
    #space .play-facility .facility-area .article {
        padding-bottom: 70px;
    }
    #space .play-facility .facility-area .article .half-img {
        height: 223px;
    }
    #space .play-facility .facility-area .article p {
        font-size: 16px;
        padding-right: 0;
    }
    #space .play-facility .facility-area .menu-view {
        margin-top: 5px;
    }
    /* space : banner */
    #space .play-banner {
        height: 498px;
        background-size: cover;
    }
    #space .play-banner .banner-info {
        position: static;
        top: auto;
        left: auto;
        transform: translateY(0);
        padding-top: 50px;
    }
    #space .play-banner .banner-head {
        margin-bottom: 30px;
    }
    #space .play-banner .banner-head h1 {
        font-size: 32px;
        padding-bottom: 0;
    }
    #space .play-banner .banner-head p {
        font-size: 18px;
        font-weight: 700;
    }
    #space .play-banner .info-txt {
        font-size: 15px;
        margin-bottom: 59px;
    }
    #space .play-banner .info-txt br {
        display: none;
    }
    #space .play-banner ul {
        margin-bottom: 25px;
    }
    #space .play-banner ul li::before {
        height: 15px;
        border-right: 2px solid rgba(255, 255, 255, .5);
    }
    #space .play-banner ul li {
        font-size: 15px;
    }
    /* course */
    #course .gnb-tab {
        border-top: none;
    }
    #course .gnb-tab .container {
        padding: 0;
    }
    #course .tab-depth-01 ul li {
        padding: 17px 0;
    }
    #course .tab-depth-01 ul li:first-child {
        border-left: none;
    }
    #course .tab-depth-01 ul li:last-child {
        border-right: none;
    }
    #course .tab-depth-01 ul li p {
        font-size: 18px;
    }
    #course .tab-depth-01 ul li span {
        font-size: 10px;
    }
    #course .gnb-tab .tab-content {
        padding: 35px 0;
    }
    #course .gnb-tab .tab-box .le-area {
        width: 100%;
        padding-bottom: 50px;
    }
    #course .gnb-tab .tab-box .rg-area {
        width: 100%;
        padding: 0 15px;
    }
    #course .gnb-tab .tab-box .rg-area img {
        width: 100%;
    }
    #course .gnb-tab .tab-depth-02 {
        margin-bottom: 40px;
        padding: 0 15px;
    }
    #course .gnb-tab .tab-depth-02 li {
        font-size: 11px;
        width: 25px;
        height: 25px;
        line-height: 22px;
        margin-right: 37px;
        border: 1px solid #fff;
    }
    #course .gnb-tab .tab-depth-02 li::after {
        left: 24px;
        width: 37px;
        border-top: 1px solid #fff;
    }
    #course .gnb-tab .tab-box .cur-info {
        padding: 0 15px;
    }
    #course .gnb-tab .tab-content .video-box {
        height: auto;
    }
    #course .gnb-tab .tab-content .le-area .cur-num {
        font-size: 0;
        margin-bottom: 30px;
    }
    #course .gnb-tab .tab-content .le-area .cur-num h1 {
        font-size: 42px;
    }
    #course .gnb-tab .tab-content .le-area .cur-num p {
        font-size: 13px;
        padding-left: 7px;
    }
    #course .gnb-tab .le-area .cur-list {
        margin-bottom: 26px;
    }
    #course .gnb-tab .le-area .cur-list li {
        text-align: left;
    }
    #course .gnb-tab .le-area .cur-list li:last-child {
        text-align: left;
    }
    #course .gnb-tab .le-area .cur-list li p {
        font-size: 16px;
    }
    #course .gnb-tab .le-area .cur-list li p::before {
        height: 16px;
        margin-right: 8px;
    }
    #course .gnb-tab .le-area .rection-txt {
        font-size: 16px;
        margin-bottom: 25px;
    }
    #course .gnb-tab .le-area .attack-txt {
        color: #fff;
        font-size: 16px;
        padding-bottom: 57px;
    }
    #course .course-visual {
        padding: 65px 0;
    }
    #course .course-visual img {
        display: block;
        margin-bottom: 37px;
    }
    #course .course-visual .course-info {
        display: block;
    }
    #course .course-visual .course-info .course-article {
        margin: 0 0 33px 0;
    }
    #course .course-visual .course-info .course-article:last-child {
        margin-bottom: 0;
    }
    #course .course-visual .course-article h1 {
        font-size: 22px;
        padding-bottom: 11px;
    }
    #course .course-visual .course-article p {
        color: #fff;
        font-size: 16px;
    }
    #course .course-gallery {
        padding: 50px 0;
    }
    #course .course-gallery h1 {
        font-size: 22px;
        margin-bottom: 11px;
    }
    #course .cur-swiper {
        padding-bottom: 30px;
    }
    /* reservation_main */
    #reservation {
        display: block;
    }
    #reservation .fixed-bar {
        width: 100%;
        padding: 30px 15px;
    }
    #reservation .fixed-bar .inner-area {
        max-width: 100%;
        float: unset;
        top: unset;
    }
    #reservation .fixed-bar .tab-menu {
        margin-bottom: 30px;
    }
    #reservation .fixed-bar .tab-menu li {
        font-size: 15px;
        padding: 12px 0;
    }
    #reservation .fixed-bar .tab-menu li:first-child {
        margin-right: 10px;
    }
    #reservation .fixed-bar .tab-list {
        margin-top: 30px;
        padding: 15px;
    }
    #reservation .fixed-bar .tab-list .tab-bar {
        margin-bottom: 20px;
    }
    #reservation .fixed-bar .tab-list input[type="button"] {
        color: rgba(239, 239, 239, .5);
        font-size: 14px;
    }
    #reservation .fixed-bar .tab-list li::after {
        margin: 0 20px;
        height: 14px;
    }
    #reservation .hole-list {
        width: 100%;
        background: transparent;
        padding: 0 15px;
    }
    #reservation .hole-list .inner-area {
        max-width: 100%;
    }
    #reservation .hole-list .now-datepick {
        font-size: 22px;
        margin-bottom: 40px;
    }
    #reservation .hole-list .hole-type {
        margin-bottom: 60px;
    }
    #reservation .hole-list .hole-type h2 {
        font-size: 24px;
        padding-bottom: 10px;
    }
    #reservation .hole-list .hole-type .li-box {
        width: 100%;
        margin: 0 0 10px 0;
        max-width: 100%;
        padding: 15px;
    }
    #reservation .hole-list .default-hole .hole-type .li-box {
        height: 100px;
    }
    #reservation .hole-list .join-hole .hole-type .li-box {
        height: 150px;
    }
    #reservation .hole-list .hole-type .li-box.deadline p {
        font-size: 20px;
    }
    .hole-list .hole-type .li-box .le-box {
        width: 76px;
    }
    .hole-list .hole-type .li-box .rg-box {
        width: calc(100% - 76px);
    }
    .hole-list .hole-type .li-box .le-box li:first-child {
        font-size: 28px;
        padding-bottom: 5px;
    }
    .hole-list .hole-type .li-box .le-box li:last-child p {
        font-size: 15px;
    }
    .hole-list .hole-type .li-box .rg-box li:first-child {
        font-size: 28px;
        padding-bottom: 5px;
    }
    .hole-list .hole-type .li-box .rg-box li:last-child {
        font-size: 15px;
    }
    .hole-list .join-hole .li-box .join-envir {
        padding-top: 12px;
    }
    .hole-list .join-hole .li-box .join-envir .per-num p {
        font-size: 15px;
    }
    .hole-list .join-hole .li-box .join-envir .per-num li i {
        font-size: 14px;
    }
    .hole-list .join-hole .li-box .join-envir .join-btn {
        font-size: 15px;
    }
    .hole-list .join-hole .li-box .join-envir .join-btn i {
        font-size: 14px;
    }
    /* reservation_step01 */
    #reservation .common-fr {
        width: 100%;
        border-radius: 0;
        background: #0a141e;
        margin: 60px auto 100px auto;
        padding: 0 15px;
    }
    #reservation .common-fr .step-tit p {
        font-size: 14px;
        padding-bottom: 6px;
    }
    #reservation .common-fr .step-tit h1 {
        margin-bottom: 22px;
    }
    #reservation .step-01 .confirm-info {
        padding: 8px 15px;
    }
    #reservation .step-01 .confirm-info table td {
        font-weight: 500;
    }
    #reservation .step-01 .confirm-info table ul li {
        font-weight: 500;
    }
    #reservation .step-01 .confirm-info table ul li::after {
        margin: 0 6px;
    }
    /* reservation_step02 */
    #reservation .step-02 .product-conf {
        padding: 15px;
    }
    #reservation .step-02 .product-conf .date {
        padding-bottom: 14px;
    }
    #reservation .step-02 .product-conf .refer-info p {
        font-size: 14px;
    }
    #reservation .step-02 .pay-type {
        padding: 20px 0;
    }
    #reservation .step-02 .pay-result {
        padding: 20px 15px;
    }
    #reservation .step-02 .pay-result .pm-sel {
        padding-bottom: 30px;
    }
    #reservation .step-02 .pay-result .pm-sel .tp-box {
        height: 100px;
        margin-right: 14px;
    }
    #reservation .step-02 .pay-result .pm-sel .tp-box p {
        font-size: 26px;
        padding-top: 15px;
    }
    #reservation .step-02 .pay-result .pm-sel .tp-box span {
        font-size: 17px;
    }
    #reservation .step-02 .pay-result .total-pr li {
        font-size: 14px;
    }
    #reservation .step-02 .pay-method {
        border-top: 1px solid rgba(255, 255, 255, .1);
        padding: 20px 0;
    }
    #reservation .step-02 .pay-method p {
        font-size: 15px;
        color: rgba(255, 255, 255, .5);
        padding-bottom: 10px;
    }
    #reservation .step-02 .pay-method label {
        color: #fff;
    }
    #reservation .common-fr .btn-area .next-btn {
        display: inline-block;
        text-align: center;
        width: 100%;
        font-size: 16px;
        color: #fff;
        padding: 12px 0;
        border-radius: 4px;
        font-weight: bold;
        background: #f07800;
        border: 1px solid #f07800;
    }
    #reservation .common-fr .btn-area .send-btn {
        width: 100%;
        font-size: 16px;
        padding: 12px 0;
        border-radius: 4px;
        font-weight: bold;
        background: #292929;
        border: 1px solid #292929;
        color: rgba(255, 255, 255, .3);
    }
    #reservation .common-fr .btn-area .send-btn.on {
        background: #f07800;
        border: 1px solid #f07800;
        color: #fff;
    }
    /* payment */
    #payment {
        max-width: 100%;
        border-radius: 0;
        margin: 0 auto;
        padding: 45px 15px 100px 15px;
    }
    #payment .pay-info {
        padding: 15px;
        margin-bottom: 30px;
    }
    #payment .pay-info .thead,
    #payment .pay-info .t-data {
        font-size: 15px;
    }
    #payment .pay-info .thead {
        width: 115px;
    }
    #payment .pay-info .t-data {
        width: calc(100% - 115px);
    }
    #payment .pay-info .t-data p {
        font-size: 15px;
    }
    #payment .pay-info .t-data p::after {
        height: 14px;
        border-right: 1px solid #0a141e;
    }
    #payment .pay-info .pay-method,
    #payment .pay-info .per-pay {
        padding-bottom: 13px;
    }
    #payment .pay-inp h2 {
        font-size: 16px;
    }
    #payment .pay-inp .tab-menu input[type="radio"]+label {
        font-size: 14px;
    }
    #payment .pay-inp .pay-form {
        padding: 20px 0 30px 0;
    }
    #payment .pay-inp .pay-form .fr-tit {
        padding-bottom: 13px;
    }
    #payment .pay-inp .pay-form .card-num input {
        margin-right: 10px;
    }
    #payment .pay-inp .pay-form .flex-box .fr-split {
        margin-right: 10px;
    }
    #payment .pay-inp .pay-form .birth-inp input[type="text"] {
        margin-bottom: 13px;
    }
    #payment .pay-noti {
        margin-bottom: 36px;
    }
    #payment .coupon-sale {
        margin-bottom: 26px;
    }
    #payment .coupon-sale select {
        font-size: 14px;
    }
    #payment .coupon-sale select option {
        font-size: 14px;
    }
    /* mypage : my-status */
    #mypage {
        padding: 0;
    }
    #mypage .my-status {
        padding: 30px 0 100px 0;
    }
    #mypage .content .pg-tit {
        padding: 30px 0;
    }
    #mypage .my-status .inner-wrap {
        display: block;
    }
    #mypage .my-status .cm-split {
        margin-right: 0;
    }
    #mypage .my-status .progress {
        margin-bottom: 15px;
    }
    #mypage .my-status .cm-box {
        padding: 20px 15px;
    }
    #mypage .my-status .bx-tit {
        padding-bottom: 20px;
    }
    /* mypage : payer-status */
    #mypage .my-status .payer-status {
        margin-bottom: 30px;
    }
    #mypage .my-status .payer-status .cm-box ul li:first-child {
        padding-bottom: 17px;
    }
    #mypage .my-status .payer-status .cm-box .pay-wid {
        width: 140px;
    }
    #mypage .my-status .payer-status .cm-box .pay-setting {
        width: calc(100% - 140px);
    }
    #mypage .my-status .cm-box .designation {
        font-size: 15px;
    }
    #mypage .my-status .payer-status .cm-box .payer-info p {
        font-size: 15px;
    }
    #mypage .my-status .payer-status .cm-box .pm-status {
        font-size: 15px;
    }
    #mypage .my-status .payer-status .req-btn input {
        font-size: 15px;
        margin-left: 0;
    }
    #mypage .my-status .payer-status .req-btn input:last-child {
        margin-left: 17px;
    }
    /* mypage: player-status */
    #mypage .my-status .player-status .designation {
        padding-bottom: 19px;
    }
    #mypage .my-status .player-status .reg-btn {
        width: calc(100% - 180px);
        font-size: 14px;
    }
    #mypage .my-status .player-status .reg-btn i {
        font-size: 14px;
        margin-right: 5px;
    }
    #mypage .my-status .player-status .edit-box ul {
        width: 180px;
    }
    #mypage .my-status .player-status .edit-box ul li {
        font-size: 15px;
    }
    #mypage .my-status .player-status .enroll-box .empty-nm {
        font-size: 14px;
        width: 180px;
    }
    /* mypage : empty */
    #mypage .empty-box {
        width: 100%;
        padding: 20px 15px;
    }
    #mypage .empty-box p {
        font-size: 16px;
    }
    /* mypage : payment_history */
    #mypage .cm-table table {
        width: 926px;
    }
    #mypage .cm-table .scroll-tb {
        overflow-x: auto;
        white-space: nowrap;
    }
    /* popup */
    .popup {
        width: 92%;
        padding: 30px 15px;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .popup .popContent img {
        margin-top: 10px;
    }
    .popup .popContent h1 {
        margin: 15px 0 5px 0;
    }
    .popup .popContent p {
        font-size: 15px;
    }
    .popup .popContent .count-period {
        padding: 14px 0;
    }
    /* popup : ph-book */
    .ph-book .popup {
        padding: 0;
        width: 92%;
    }
    .ph-book .popup .popContent {
        padding: 20px 15px 30px 15px;
    }
    .ph-book .popup .popContent table th,
    .ph-book .popup .popContent table td {
        font-size: 14px;
    }
    .ph-book .popup .popContent table .add-btn i {
        color: #fff;
        font-size: 13px;
    }
    /* mypage : changePop */
    .changePop .popContent {
        padding: 15px 15px 7px 15px;
    }
    .changePop .popContent .inp-box {
        margin-bottom: 23px;
    }
    .changePop .popContent .inp-box .thead {
        padding-bottom: 10px;
    }
    .changePop .popFoot {
        padding: 0 15px 30px 15px;
    }
}