@font-face {
    font-family: 'GmarketSans';
    src: url("GmarketSansTTFMedium.ttf") format('truetype');
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url("GmarketSansTTFBold.ttf") format('truetype');
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url("GmarketSansTTFLight.ttf") format('truetype');
}

*{
  z-index: 4;
}

body{
  width: 100%;
  height: 1080px;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
}

.img_star_BG1 {
  position: absolute;
  width: 290.2px;
  height: 277px;
  top:347px;
  left:200px;
  object-fit: contain;
  transform: rotate(-90deg);
}

.img_star_BG2 {
  position: absolute;
  top:86.9px;
  left:1321.5px;
  width: 290.2px;
  height: 277px;
  object-fit: contain;
  transform: rotate(-44deg);
}

.Oval-Copy-10 {
  position: absolute;
  top:495px;
  left:560px;
  width: 164px;
  height: 164px;
  background-color: #ffedf3;
  border-radius: 200px;
}

.img_pen {
  z-index: 3;
  position: absolute;
  top: 401px;
  left: 1160px;
  width: 180px;
  height: 348px;
  object-fit: contain;
  transform: rotate(-360deg);
}

.img_02 {
  margin-left: 20px;
  margin-top: 351px;
  z-index: 11;
  width: 555px;
  height: 85px;
  object-fit: contain;
  opacity: 0.9;
  display: block;
}

.white-box{
  margin-top: -60px;
  width: 600px;
  height: 400px;
  border-radius: 30px;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
  text-align: center;
  z-index: 10;
  overflow: hidden;
}

.white-box img{
  width: 162px;
  height: 103px;
  margin-top: 86px;
}

.line1{
  margin-top: 57px;
  height: 38px;
  font-family: GmarketSansBold;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: #ef5184;
}

.line2{
  margin-top: 30px;
  height: 20px;
  font-family: GmarketSansBold;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2d2d2d;
}


@media (max-width: 1600px) {
  .img_star_BG2{
    display: none;
  }
}

@media (max-width: 1320px){
  .img_pen{
    display: none;
  }
}


@media (max-width: 750px){

  .img_star_BG1{
    top:36px;
    left:130px;
    width:243px;
    height:243px;
  }

  .Oval-Copy-10{
    display: none;
  }

  .img_02{
    margin-top: 216px;
    width: 345px;
    height: 52px;
  }

  .white-box{
    margin-top: -30px;
    width: 375px;
    height: 400px;
  }

  .img_logo{

  }

  .line1{
    margin-left: 78px;
    margin-top: 30px;
    width: 220px;
    height:  76px;
    font-size: 30px;
    font-family: GmarketSansBold;
  }

  .line2{
    margin-top: 20px;
    font-size: 20px;
    font-family: GmarketSansBold;
  }
}